IMPORT DATA FROM TEXT FILE

In [1]:
#Import the txt data from Manish into an excel file. Note these are data he extracted from the Sherpa URL we use on COA 
#website https://apply.joinsherpa.com/travel-restrictions?affiliateId=americanairlines.
#This URL will take you directly to the site with the toggle: https://apply.joinsherpa.com/map?affiliateid=lot

#To learn more about Pandas read: https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428

#For fun: https://www.python.org/dev/peps/pep-0020/

import pandas as pd

In [2]:
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')

In [3]:
sherpaDF

,CountryCode,CountryName,FullyVaccinated,TravelOpenness,EntryRestrictions,Covid19Test,Quarantine
0,ABW,Aruba,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
1,ABW,Aruba,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
2,AFG,Afghanistan,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,RECOMMENDED_QUARANTINE
3,AFG,Afghanistan,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,RECOMMENDED_QUARANTINE
4,AGO,Angola,0,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE
...,...,...,...,...,...,...,...
449,ZAF,South Africa,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
450,ZMB,Zambia,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
451,ZMB,Zambia,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
452,ZWE,Zimbabwe,0,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE
453,ZWE,Zimbabwe,1,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE

In [4]:
#I'm only interested in the Country Name, Fully Vaccinated and TravelOpenness columns
levelsDF = sherpaDF.iloc[0:454, 1:4]

In [5]:
levelsDF

      CountryName  FullyVaccinated TravelOpenness
0           Aruba                0        LEVEL_2
1           Aruba                1        LEVEL_2
2     Afghanistan                0        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[454 rows x 3 columns]

In [6]:
#My goal is to only print the level for fully vaccinated people. There are several ways to do this. One is to drop all rows
#with an even index
fullyvaxDF = levelsDF.drop(0)

In [7]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
2     Afghanistan                0        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
5          Angola                1        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[453 rows x 3 columns]

In [8]:
fullyvaxDF = fullyvaxDF.drop(2)

In [9]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
5          Angola                1        LEVEL_3
6        Anguilla                0        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[452 rows x 3 columns]

In [10]:
for i in range(3, 454):
    if i%2==0:
        fullyvaxDF = fullyvaxDF.drop(i)

In [11]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
5          Angola                1        LEVEL_3
7        Anguilla                1        LEVEL_2
9         Albania                1        LEVEL_1
..            ...              ...            ...
445       Vanuatu                1        LEVEL_4
447         Samoa                1        LEVEL_4
449  South Africa                1        LEVEL_2
451        Zambia                1        LEVEL_2
453      Zimbabwe                1        LEVEL_3

[227 rows x 3 columns]

In [12]:
#We can then make ax excel to be used to validate Column E of Amy's table:
#https://devopsfareportal-my.sharepoint.com/:x:/r/personal/ilaria_bossi_fareportal_com/_layouts/15/Doc.aspx?sourcedoc=%7BF1759EEF-8E62-4C66-89AD-C8C2C97DBE85%7D&file=International%20Countries%20to%20Focus%20on%202H21.xlsx&wdOrigin=OFFICECOM-WEB.SEARCH.SEARCH&ct=1625670965290&action=default&mobileredirect=true
fullyVaxOnly = fullyvaxDF.to_excel('OnlyFullyVaccinated.xlsx')

In [13]:
 for i in fullyvaxDF.iteritems():
        print('Sherpa rating for ' + fullyvaxDF['CountryName'] + ' is ' + fullyvaxDF['TravelOpenness'])

1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object
1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object
1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object

In [14]:
#I want to see which one is faster, creating excel file or listing all ratings? CREATING EXCEL IS THE SLOWEST, 290 - 600 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
levelsDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = levelsDF.drop(i)
fullyVaxOnly = fullyvaxDF.to_excel('OnlyFullyVaccinated.xlsx')"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0.5639907999999991

In [15]:
#I want to see which one is faster, creating excel file or listing all ratings? LISTING ALL RECORDS IS FASTER, 130 - 400 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
fullyvaxDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = fullyvaxDF.drop(i)
for i in fullyvaxDF.iteritems():
    print('Sherpa rating for ' + fullyvaxDF['CountryName'] + ' is ' + fullyvaxDF['TravelOpenness'])"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0.22325440000000185

In [16]:
#See this tutorial to understand how to use json files in Python: https://www.youtube.com/watch?v=7GFXm8HUD7s
import json

In [17]:
my_string = fullyvaxDF.to_json(orient = 'records')

In [18]:
my_json_loads = json.loads(my_string)

In [19]:
my_json_loads

[{'CountryName': 'Aruba', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Afghanistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Angola', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Anguilla',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Albania', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Andorra', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'United Arab Emirates',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Argentina',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Armenia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'American Samoa',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Antigua and Barbuda',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Australia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Austria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Azerbaijan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Burundi',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Belgium', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Benin',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Burkina Faso',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Bangladesh',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Bulgaria',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Bahrain', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Bahamas', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Bosnia and Herzegovina',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Belarus', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Belize', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Bermuda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Bolivia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Brazil', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Barbados',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Brunei', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Bhutan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Botswana',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Central African Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Canada', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Cocos (Keeling) Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Switzerland',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Chile', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'China', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Ivory Coast',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Cameroon',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Democratic Republic of the Congo',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Congo', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Cook Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Colombia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Comoros',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Cape Verde',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Costa Rica',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Cuba', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Christmas Island',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Cayman Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Cyprus', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Czech Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Germany', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Djibouti',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Dominica',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Denmark', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Dominican Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Algeria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Ecuador', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Egypt', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Eritrea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Spain', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Estonia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Ethiopia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Finland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Fiji', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Falkland Islands (Islas Malvinas)',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'France', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Faroe Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Micronesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Gabon', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'United Kingdom',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Georgia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guernsey',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Ghana', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Gibraltar',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Guadeloupe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Gambia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Guinea-Bissau',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Equatorial Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Greece', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Grenada', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Greenland',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Guatemala',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guam', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guyana', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Hong Kong',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Honduras',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Croatia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Haiti', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Hungary', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Indonesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Isle of Man',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'India', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'British Indian Ocean Territory',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Ireland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Iran', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Iraq', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Iceland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Israel', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Italy', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Jamaica', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Jersey', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Jordan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Japan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kazakhstan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kenya', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Kyrgyzstan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Cambodia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kiribati',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Saint Kitts and Nevis',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'South Korea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Kuwait', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Laos', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Lebanon', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Liberia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Libya', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Saint Lucia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Liechtenstein',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Sri Lanka',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Lesotho',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Lithuania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Luxembourg',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Latvia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Macau', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Morocco', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Monaco', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Moldova', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Madagascar',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Maldives',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mexico', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Marshall Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'North Macedonia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Mali', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Malta', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Myanmar', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Montenegro',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Mongolia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Northern Mariana Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Mozambique',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mauritania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Montserrat',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Martinique',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mauritius',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Malawi', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Malaysia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Namibia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Niger', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Norfolk Island',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Nigeria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Nicaragua',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Niue',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Netherlands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Norway', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Nepal', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Nauru',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'New Zealand',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Oman', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Pakistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Panama', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Pitcairn Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Peru', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Philippines',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Palau', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Papua New Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Poland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Puerto Rico',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Portugal',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Paraguay',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Palestinian Territories',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'French Polynesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Qatar', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'RÃƒÂ©union',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Romania', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Russia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Rwanda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Saudi Arabia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Sudan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Senegal', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Singapore',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'South Georgia and the South Sandwich Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Saint Helena, Ascension and Tristan da Cunha',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Solomon Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Sierra Leone',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'El Salvador',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'San Marino',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Somalia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Serbia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'SÃƒÂ£o TomÃƒÂ© and PrÃƒ\xadncipe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Suriname',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Slovakia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Slovenia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Sweden', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Eswatini',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Seychelles',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Syria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Turks and Caicos Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Chad',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Togo', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Thailand',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Tajikistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Tokelau',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'East Timor',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Tonga', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Trinidad and Tobago',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Tunisia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Turkey', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Tuvalu',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Taiwan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Tanzania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Uganda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Ukraine', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'United States Minor Outlying Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Uruguay', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Uzbekistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Vatican City',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Saint Vincent and the Grenadines',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Venezuela',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'British Virgin Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'U.S. Virgin Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Vietnam', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Vanuatu', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Samoa', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'South Africa',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Zambia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Zimbabwe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'}]

In [20]:
with open("validate.json", "w") as p:
    json.dump(my_json_loads, p, indent = 4, sort_keys = True)

In [21]:
with open('validate.json', 'r') as p:
    json.load(p)

In [22]:
#I want to see which one is faster, creating listing all ratings or using json? 
#JSON IS IN SAME RANGE AS LISTING ALL RESULTS AND FASTER THAN MAKING EXCEL
# 130 - 300 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
levelsDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = levelsDF.drop(i)
import json
my_string = fullyvaxDF.to_json(orient = 'records')
my_json_loads = json.loads(my_string)
my_string = levelsDF.to_json(orient = 'records')
my_json_loads
with open("validate.json", "w") as p:
    json.dump(my_json_loads, p, indent = 4, sort_keys = True)
with open('validate.json', 'r') as p:
    json.load(p)"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0.23710589999999954

In [23]:
#Sara's feedback: there's really no need for our use case to measure the time: the time it will take for Amy
#to validate the Sherpa ratings in the excel will be of the order of seconds or even minutes, so it doesn't really matter 
#how fast we work with the dataframes

#There's other ways of filtering only the fully vaccinated rows. Here I just got lucky that all odd rows 
#happened to be associated with fully vaccinated. A better way to do this is by using the brackets to ask precisely what
#I am interested into: the rows with values of the FullyVaccinated column == 1

fullyvaxDF = levelsDF[levelsDF['FullyVaccinated'] == 1]

In [24]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
5          Angola                1        LEVEL_3
7        Anguilla                1        LEVEL_2
9         Albania                1        LEVEL_1
..            ...              ...            ...
445       Vanuatu                1        LEVEL_4
447         Samoa                1        LEVEL_4
449  South Africa                1        LEVEL_2
451        Zambia                1        LEVEL_2
453      Zimbabwe                1        LEVEL_3

[227 rows x 3 columns]

In [25]:
notfullyvaxDF = levelsDF[levelsDF['FullyVaccinated'] == 0]

In [26]:
notfullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
0           Aruba                0        LEVEL_2
2     Afghanistan                0        LEVEL_2
4          Angola                0        LEVEL_3
6        Anguilla                0        LEVEL_3
8         Albania                0        LEVEL_1
..            ...              ...            ...
444       Vanuatu                0        LEVEL_4
446         Samoa                0        LEVEL_4
448  South Africa                0        LEVEL_2
450        Zambia                0        LEVEL_2
452      Zimbabwe                0        LEVEL_3

[227 rows x 3 columns]

In [27]:
#Per Sara: Also try with .query(). Learn more about .query() https://www.youtube.com/watch?v=PbtFHxwfpfc
#Pandas .query() filters the dataframe and only returns the rows that I am looking for
levelsDF.query('FullyVaccinated == 1')

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
5          Angola                1        LEVEL_3
7        Anguilla                1        LEVEL_2
9         Albania                1        LEVEL_1
..            ...              ...            ...
445       Vanuatu                1        LEVEL_4
447         Samoa                1        LEVEL_4
449  South Africa                1        LEVEL_2
451        Zambia                1        LEVEL_2
453      Zimbabwe                1        LEVEL_3

[227 rows x 3 columns]

In [28]:
levelsDF.query('FullyVaccinated == 0')

      CountryName  FullyVaccinated TravelOpenness
0           Aruba                0        LEVEL_2
2     Afghanistan                0        LEVEL_2
4          Angola                0        LEVEL_3
6        Anguilla                0        LEVEL_3
8         Albania                0        LEVEL_1
..            ...              ...            ...
444       Vanuatu                0        LEVEL_4
446         Samoa                0        LEVEL_4
448  South Africa                0        LEVEL_2
450        Zambia                0        LEVEL_2
452      Zimbabwe                0        LEVEL_3

[227 rows x 3 columns]

In [29]:


#Understanding how split works
level = 'LEVEL_2'
level.split()

['LEVEL_2']

In [30]:
level.split('_')

['LEVEL', '2']

In [31]:
level.split('2')

['LEVEL_', '']

In [32]:
level.split('LEVEL')

['', '_2']

In [33]:
level.split('_')[0]

'LEVEL'

In [34]:
level.split('_')[1]

'2'

In [35]:
#Let's define a function that will help us get rid of 'LEVEL_' and return an integer for the Sherpa Rating

In [36]:
sherpaRating = level.split('_')[1]

In [37]:
sherpaRating

'2'

In [38]:
def extract_level(level: str):
    sherpaRating = level.split('_')[1]
    return int(sherpaRating)

In [39]:
extract_level(level)

2

In [40]:
#Let's now focus on the third column. Let's get rid of the text LEVEL_ and turn the values into integers so it
#will be easier to handle them to manipulate Amy's report
fullyvaxDF['TravelOpenness']

1      LEVEL_2
3      LEVEL_2
5      LEVEL_3
7      LEVEL_2
9      LEVEL_1
        ...
445    LEVEL_4
447    LEVEL_4
449    LEVEL_2
451    LEVEL_2
453    LEVEL_3
Name: TravelOpenness, Length: 227, dtype: object

In [41]:
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series
fullyvaxDF['TravelOpenness'].apply(extract_level)

ValueError: invalid literal for int() with base 10: 'INFORMATION'

In [42]:
#SARA'S FEEDBACK: instead of using 0 use a large number, for ex. 10. This is because 0 could sound like a perfect place to
#travel in this context, while it's quite the opposite. Act as if you were training a machine. For ex. if you may want to 
#find all good places to travel less than LEVEL_3: python would pick up the LEVEL_0 too, and that is logically incorrect.
#Adopt this mindset: start from the end and imagine you are training a machine by reverse engineering every step.


#The error above happens because some of the values in TravelOpenness are equal to 'NO INFORMATION' (See the excel 
#'OnlyFullyVaccinated'. Let's replaced all 'NO INFORMATION' with 'LEVEL_10', and save the excel with a new name 
#'OnlyFullyVaccinated_LEVEL_10'. That should solve the problem.
#Let's update my dataframe:
fullyvaxDF_LEVEL_10 = pd.read_excel('OnlyFullyVaccinated_LEVEL_10.xlsx')

In [43]:
fullyvaxDF_LEVEL_10

     Unnamed: 0   CountryName  FullyVaccinated TravelOpenness
0             1         Aruba                1        LEVEL_2
1             3   Afghanistan                1        LEVEL_2
2             5        Angola                1        LEVEL_3
3             7      Anguilla                1        LEVEL_2
4             9       Albania                1        LEVEL_1
..          ...           ...              ...            ...
222         445       Vanuatu                1        LEVEL_4
223         447         Samoa                1        LEVEL_4
224         449  South Africa                1        LEVEL_2
225         451        Zambia                1        LEVEL_2
226         453      Zimbabwe                1        LEVEL_3

[227 rows x 4 columns]

In [44]:
#This will give me a warning even if I am able to get the result I was looking for, in my case add a column stripped of the
#string 'LEVEL_' and only display a column 'TravelOpennessint' of integers:

fullyvaxDF['TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

<ipython-input-44-a4f907997fca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullyvaxDF['TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

In [45]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [46]:
#fullyvaxDF['TravelOpennessInt'] is a series with a length of 227
type(fullyvaxDF['TravelOpennessInt'])

pandas.core.series.Series

In [47]:
#fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list() is a list of length 227
type(fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list())

list

In [48]:
len(fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list())

227

In [49]:
#Note that fullyvaxDF.loc['TravelOpennessInt'])  will give me a key error because it only has the col_indexr
#Instead I need to add the row_indexer too > fullyvaxDF.loc[:, 'TravelOpennessInt']
#Now I am dealing with a series of length 227 so I shouldn't get the error
type(fullyvaxDF.loc[:, 'TravelOpennessInt'])

pandas.core.series.Series

In [50]:
len(fullyvaxDF.loc[:, 'TravelOpennessInt'])

227

In [51]:
fullyvaxDF.loc[:, 'TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

C:\Users\i.b.ossi\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [52]:
#GREAT SUCCESS! Now I get the result I want with no more warning
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [53]:
#My understanding is that fullyvaxDF['TravelOpenness'] selects the first level of the columns and returns a DataFrame that
#is singly-indexed. Then another Python operation selects the series indexed by 'TravelOpenness'. Pandas sees these 
#operations as separate events. e.g. separate calls, so it has to treat them as linear operations, they happen one after 
#another. Instead .loc[:, 'TravelOpenness'] passes a nested tuple of
#(slice(None),('TravelOpenness')) to a single call. This allows pandas to deal with this as a single entity.

#Furthermore this order of operations can be significantly faster, and allows one to index both axes if so desired.

#In addition, itâ€™s very hard to predict whether the fullyvaxDF['TravelOpenness'] will return a view or a copy
#(it depends on the memory layout of the array, about which pandas makes no guarantees), and therefore whether 
#pandas will modify a temporary object that gets thrown out immediately afterward or if it will store it in memory

In [54]:
#Now I need to merge files to cross check TravelOpennessInt with column Sherpa Rating in the
#'International Countries to Focus on 2H21 (1)'
#Learn how to replace excel Vlookup in Python Using Pandas here https://www.youtube.com/watch?v=AHS925L8JVk
import pandas as pd
from pathlib import Path

In [55]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [56]:
#Create an excel from the fullyvaxDF and call it OnlyFullyVaccinatedInt1
fullyvaxDF.to_excel('OnlyFullyVaccinatedInt1.xlsx')

In [57]:
fromAmyDF = pd.read_excel('OnlyFullyVaccinatedInt.xlsx', sheet_name = 'FromAmy')

In [58]:
fromAmyDF

,Country Name,Sherpa Rating\n1=Dk Grn\n2=Lt Grn\n3=Yellow\n4=Orange\n10=unk
0,United States,1
1,Anguilla,2
2,Algeria,4
3,American Samoa,4
4,Angola,3
...,...,...
222,Zimbabwe,3
223,Missing,10
224,Missing,10
225,Missing,10
226,Missing,10

In [59]:
#Next I want to shorten the third column in fromAmyDF to only say SherpaRating
fromAmyDF = fromAmyDF.rename(columns={'Sherpa Rating\n1=Dk Grn\n2=Lt Grn\n3=Yellow\n4=Orange\n10=unk': 'SherpaRating'})
#df.rename(columns={'A': 'Col_1', 'C': 'Col_3'}))

In [60]:
fromAmyDF

       Country Name  SherpaRating
0     United States             1
1          Anguilla             2
2           Algeria             4
3    American Samoa             4
4            Angola             3
..              ...           ...
222        Zimbabwe             3
223         Missing            10
224         Missing            10
225         Missing            10
226         Missing            10

[227 rows x 2 columns]

In [61]:
#Sara's feedback: check out the .dtypes. Remmeber to always use tab to autocomplete, avoid typos and save tons of time
#Return a Series with the data type of each column. Columns with mixed types are stored with the object dtype.
fromAmyDF.dtypes

Country Name    object
SherpaRating     int64
dtype: object

In [62]:
#Now we are ready to merge the two dataframe with VlookUp (pd.merge)
mergedDF = fullyvaxDF.merge(fromAmyDF,
                  left_on = 'CountryName', #provide column name from first dataframe
                  right_on = 'Country Name', #provide corresponding column name from the second dataframe,
                  how = 'left') #this means the first worksheet stays the same, we will be adding the second to the first. 
                                #This corresponds to an excel left merge

In [63]:
mergedDF
#non nullable type. With left merge, the column types for everything  has to become nullable to acocunt for the non 
#matching values. Read about nullable and non nullable.

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2.0
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2.0
2,Angola,1,LEVEL_3,3,Angola,3.0
3,Anguilla,1,LEVEL_2,2,Anguilla,2.0
4,Albania,1,LEVEL_1,1,Albania,1.0
...,...,...,...,...,...,...
222,Vanuatu,1,LEVEL_4,4,Vanuatu,4.0
223,Samoa,1,LEVEL_4,4,Samoa,4.0
224,South Africa,1,LEVEL_2,2,South Africa,2.0
225,Zambia,1,LEVEL_2,2,Zambia,2.0
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3.0

In [64]:
mergedDF.dtypes

CountryName           object
FullyVaccinated        int64
TravelOpenness        object
TravelOpennessInt      int64
Country Name          object
SherpaRating         float64
dtype: object

In [65]:
#Not sure why my SherpaRating came out as a float. Sara explained that it's because...
#Pandas (facepalm). When you do a left merge Pandas comes up with this 
#float issue. There is a way around it. To convert it into int use .astype('Int64')
fromAmyDF['SherpaRating'] = fromAmyDF['SherpaRating'].astype('Int64')

#THIS IS HOW TO FIX THE LEFT MERGE!!!!!! THANK YOU SARA:)

In [66]:
##About .astype(), int() and cast. astype() is a method within numpy.ndarray, as well as the Pandas Series class, 
#so can be used to convert vectors, matrices and columns within a DataFrame. However, int() is a pure-Python function 
#that can only be applied to scalar values.

In [67]:
mergedDF['SherpaRating']

0      2.0
1      2.0
2      3.0
3      2.0
4      1.0
      ...
222    4.0
223    4.0
224    2.0
225    2.0
226    3.0
Name: SherpaRating, Length: 227, dtype: float64

In [68]:
 mergedDF['SherpaRating']= mergedDF['SherpaRating'].astype('Int64')

In [69]:
mergedDF['SherpaRating']

0      2
1      2
2      3
3      2
4      1
      ..
222    4
223    4
224    2
225    2
226    3
Name: SherpaRating, Length: 227, dtype: Int64

In [80]:
mergedDF = fullyvaxDF.merge(fromAmyDF,
                  left_on = 'CountryName', #provide column name from first dataframe
                  right_on = 'Country Name', #provide corresponding column name from the second dataframe,
                  how = 'left') #this means the first worksheet stays the same, we will be adding the second to the first. 
                                #This corresponds to an excel left merge

In [81]:
mergedDF

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2
2,Angola,1,LEVEL_3,3,Angola,3
3,Anguilla,1,LEVEL_2,2,Anguilla,2
4,Albania,1,LEVEL_1,1,Albania,1
...,...,...,...,...,...,...
222,Vanuatu,1,LEVEL_4,4,Vanuatu,4
223,Samoa,1,LEVEL_4,4,Samoa,4
224,South Africa,1,LEVEL_2,2,South Africa,2
225,Zambia,1,LEVEL_2,2,Zambia,2
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3

In [82]:
#mergedDF.query('TravelOpennessInt == SherpaRating')
mergedDF.query('TravelOpennessInt == 2')

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2
3,Anguilla,1,LEVEL_2,2,Anguilla,2
5,Andorra,1,LEVEL_2,2,NaN,<NA>
13,Azerbaijan,1,LEVEL_2,2,Azerbaijan,2
...,...,...,...,...,...,...
218,Venezuela,1,LEVEL_2,2,Venezuela,2
219,British Virgin Islands,1,LEVEL_2,2,British Virgin Islands,2
220,U.S. Virgin Islands,1,LEVEL_2,2,NaN,<NA>
224,South Africa,1,LEVEL_2,2,South Africa,2
225,Zambia,1,LEVEL_2,2,Zambia,2

In [83]:
wernerDF1 = mergedDF.query('TravelOpennessInt < 3')

In [84]:
wernerDF1

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2
3,Anguilla,1,LEVEL_2,2,Anguilla,2
4,Albania,1,LEVEL_1,1,Albania,1
5,Andorra,1,LEVEL_2,2,NaN,<NA>
...,...,...,...,...,...,...
218,Venezuela,1,LEVEL_2,2,Venezuela,2
219,British Virgin Islands,1,LEVEL_2,2,British Virgin Islands,2
220,U.S. Virgin Islands,1,LEVEL_2,2,NaN,<NA>
224,South Africa,1,LEVEL_2,2,South Africa,2
225,Zambia,1,LEVEL_2,2,Zambia,2

In [85]:
wernerDF1.to_excel('Werner_1&2.xlsx')

In [88]:
#mergedDF.query('CountryName != `Country Name`') #WORKS
#mergedDF.query(('CountryName == `Country Name` and TravelOpennessInt < 3')) #WORKS
#mergedDF.query('CountryName != `Country Name` and TravelOpennessInt < 3') #WORKS
#mergedDF.query('SherpaRating < 3') #ERROR AS EXPECTED
#mergedDF.query('SherpaRating < 3 or SherpaRating == <NA>') #ERROR AS EXPECTED
#mergedDF.query('CountryName != `Country Name` or TravelOpennessInt == 3') #WORKS
#limit = 3
#mergedDF.query('TravelOpennessInt < @limit')
#mergedDF.query('CountryName != `Country Name` or TravelOpennessInt == 1') #WORKS
#mergedDF.query('`Country Name` == NaN and TravelOpennessInt < 3') #DOES NOT WORK!
#THIS I CAN'T FIGURE OUT - ASK SARA
mergedDF.query('CountryName == `Country Name` or TravelOpennessInt < 3')
#Andorra has a travelopennessint of 2 why is Andorra not listed?

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2
2,Angola,1,LEVEL_3,3,Angola,3
3,Anguilla,1,LEVEL_2,2,Anguilla,2
4,Albania,1,LEVEL_1,1,Albania,1
...,...,...,...,...,...,...
222,Vanuatu,1,LEVEL_4,4,Vanuatu,4
223,Samoa,1,LEVEL_4,4,Samoa,4
224,South Africa,1,LEVEL_2,2,South Africa,2
225,Zambia,1,LEVEL_2,2,Zambia,2
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3

In [95]:
#Sara's feedback: here we need to use some sort of MASK: pass in a series that is true or false. The mask acts like a filter
#mergedDF.query('CountryName != `Country Name`')

#See that the column Country Namehas all those NaNs. Those can be an interesting challenge!
#One what to deal with them is using .isna(). Learn more here:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html

#1. take a look at this series mergedDF['Country Name']

#2. Apply .isna(). You get a boolean:

#mergedDF['Country Name'].isna()

#3. Now you can get the DF you are looking for with the or condition 
mergedDF[mergedDF['Country Name'].isna()]


#andorra = mergedDF['CountryName'][5]


#mergedDF[mergedDF['TravelOpennessInt'] < 3 | mergedDF['Country Name'].isna()] 
#mergedDF[mergedDF['TravelOpennessInt'] < 3 + mergedDF['Country Name'].isna()]

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
5,Andorra,1,LEVEL_2,2,NaN,<NA>
22,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>
29,Brunei,1,LEVEL_4,4,NaN,<NA>
38,Ivory Coast,1,LEVEL_2,2,NaN,<NA>
40,Democratic Republic of the Congo,1,LEVEL_3,3,NaN,<NA>
66,Falkland Islands (Islas Malvinas),1,NO_INFORMATION,10,NaN,<NA>
73,Guernsey,1,NO_INFORMATION,10,NaN,<NA>
78,Gambia,1,LEVEL_2,2,NaN,<NA>
93,Isle of Man,1,NO_INFORMATION,10,NaN,<NA>
95,British Indian Ocean Territory,1,NO_INFORMATION,10,NaN,<NA>
103,Jersey,1,LEVEL_2,2,NaN,<NA>
111,Saint Kitts and Nevis,1,LEVEL_3,3,NaN,<NA>
117,Libya,1,LEVEL_3,3,NaN,<NA>
118,Saint Lucia,1,LEVEL_2,2,NaN,<NA>
119,Liechtenstein,1,LEVEL_1,1,NaN,<NA>
133,North Macedonia,1,LEVEL_3,3,NaN,<NA>
142,Montserrat,1,LEVEL_4,4,NaN,<NA>
161,Pitcairn Islands,1,NO_INFORMATION,10,NaN,<NA>
167,Puerto Rico,1,LEVEL_1,1,NaN,<NA>
170,Palestinian Territories,1,LEVEL_4,4,NaN,<NA>
173,RÃƒÂ©union,1,LEVEL_2,2,NaN,<NA>
181,South Georgia and the South Sandwich Islands,1,NO_INFORMATION,10,NaN,<NA>
182,"Saint Helena, Ascension and Tristan da Cunha",1,NO_INFORMATION,10,NaN,<NA>
186,San Marino,1,LEVEL_1,1,NaN,<NA>
189,SÃƒÂ£o TomÃƒÂ© and PrÃƒÂ­ncipe,1,LEVEL_2,2,NaN,<NA>
194,Eswatini,1,LEVEL_2,2,NaN,<NA>
196,Syria,1,LEVEL_4,4,NaN,<NA>
202,Tokelau,1,NO_INFORMATION,10,NaN,<NA>
216,Vatican City,1,LEVEL_1,1,NaN,<NA>
217,Saint Vincent and the Grenadines,1,LEVEL_2,2,NaN,<NA>
220,U.S. Virgin Islands,1,LEVEL_2,2,NaN,<NA>

In [88]:
#Let's check out the difference between these 3 DFs. One way to do this is to merge them into 1 DF or compare them in excel:
DF1 = mergedDF.query('CountryName != `Country Name` and TravelOpennessInt == 1 or TravelOpennessInt == 3')

In [89]:
DF2 = mergedDF.query('CountryName != `Country Name` and (TravelOpennessInt == 1 or TravelOpennessInt == 3)')

In [90]:
DF3 = mergedDF.query('(CountryName != `Country Name` and TravelOpennessInt == 1) or TravelOpennessInt == 3')
#Look at boolean algebra, when in doubt use the parenthes

In [91]:
#I immediately see that DF1 and DF3 are different than DF2. Next challenge is to figure out if DF3 is equal to DF1 or not
DF1.head()

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
2,Angola,1,LEVEL_3,3,Angola,3
10,Antigua and Barbuda,1,LEVEL_3,3,Antigua and Barbuda,3
18,Bangladesh,1,LEVEL_3,3,Bangladesh,3
22,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>
23,Belarus,1,LEVEL_3,3,Belarus,3

In [92]:
DF2.head()

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
22,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>
40,Democratic Republic of the Congo,1,LEVEL_3,3,NaN,<NA>
111,Saint Kitts and Nevis,1,LEVEL_3,3,NaN,<NA>
117,Libya,1,LEVEL_3,3,NaN,<NA>
119,Liechtenstein,1,LEVEL_1,1,NaN,<NA>

In [93]:
#DF3 immediately looks different than DF2. Hard to tell if DF3 is equal to DF1 or not
DF3.head()

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
2,Angola,1,LEVEL_3,3,Angola,3
10,Antigua and Barbuda,1,LEVEL_3,3,Antigua and Barbuda,3
18,Bangladesh,1,LEVEL_3,3,Bangladesh,3
22,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>
23,Belarus,1,LEVEL_3,3,Belarus,3

In [94]:
#At first glance DF1 and DF3 look the same. Are they? One way to find out is to combine DF1 and DF3 in the same DF
#and highlight the differences

DIGGING DEEPER IN COMBINING DATAFRAMES: 
1. Merge
2. Concat
3. Join
4. Append

In [95]:
#Let's check out merge first
#Let's merge on indexes since DF1 and DF3 seem to have the same indeces
DF1DF3 = pd.merge(DF1, DF3, right_index= True, left_index=True)

In [97]:
#It's quick enough for the human to confirm that DF1 == DF3
DF1DF3

,CountryName_x,FullyVaccinated_x,TravelOpenness_x,TravelOpennessInt_x,Country Name_x,SherpaRating_x,CountryName_y,FullyVaccinated_y,TravelOpenness_y,TravelOpennessInt_y,Country Name_y,SherpaRating_y
2,Angola,1,LEVEL_3,3,Angola,3,Angola,1,LEVEL_3,3,Angola,3
10,Antigua and Barbuda,1,LEVEL_3,3,Antigua and Barbuda,3,Antigua and Barbuda,1,LEVEL_3,3,Antigua and Barbuda,3
18,Bangladesh,1,LEVEL_3,3,Bangladesh,3,Bangladesh,1,LEVEL_3,3,Bangladesh,3
22,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>
23,Belarus,1,LEVEL_3,3,Belarus,3,Belarus,1,LEVEL_3,3,Belarus,3
25,Bermuda,1,LEVEL_3,3,Bermuda,3,Bermuda,1,LEVEL_3,3,Bermuda,3
26,Bolivia,1,LEVEL_3,3,Bolivia,3,Bolivia,1,LEVEL_3,3,Bolivia,3
28,Barbados,1,LEVEL_3,3,Barbados,3,Barbados,1,LEVEL_3,3,Barbados,3
32,Central African Republic,1,LEVEL_3,3,Central African Republic,3,Central African Republic,1,LEVEL_3,3,Central African Republic,3
40,Democratic Republic of the Congo,1,LEVEL_3,3,NaN,<NA>,Democratic Republic of the Congo,1,LEVEL_3,3,NaN,<NA>
41,Congo,1,LEVEL_3,3,Congo,3,Congo,1,LEVEL_3,3,Congo,3
47,Cuba,1,LEVEL_3,3,Cuba,3,Cuba,1,LEVEL_3,3,Cuba,3
54,Dominica,1,LEVEL_3,3,Dominica,2,Dominica,1,LEVEL_3,3,Dominica,2
63,Ethiopia,1,LEVEL_3,3,Ethiopia,3,Ethiopia,1,LEVEL_3,3,Ethiopia,3
68,Faroe Islands,1,LEVEL_3,3,Faroe Islands,2,Faroe Islands,1,LEVEL_3,3,Faroe Islands,2
71,United Kingdom,1,LEVEL_3,3,United Kingdom,3,United Kingdom,1,LEVEL_3,3,United Kingdom,3
82,Grenada,1,LEVEL_3,3,Grenada,3,Grenada,1,LEVEL_3,3,Grenada,3
83,Greenland,1,LEVEL_3,3,Greenland,3,Greenland,1,LEVEL_3,3,Greenland,3
96,Ireland,1,LEVEL_3,3,Ireland,3,Ireland,1,LEVEL_3,3,Ireland,3
98,Iraq,1,LEVEL_3,3,Iraq,3,Iraq,1,LEVEL_3,3,Iraq,3
111,Saint Kitts and Nevis,1,LEVEL_3,3,NaN,<NA>,Saint Kitts and Nevis,1,LEVEL_3,3,NaN,<NA>
117,Libya,1,LEVEL_3,3,NaN,<NA>,Libya,1,LEVEL_3,3,NaN,<NA>
119,Liechtenstein,1,LEVEL_1,1,NaN,<NA>,Liechtenstein,1,LEVEL_1,1,NaN,<NA>
133,North Macedonia,1,LEVEL_3,3,NaN,<NA>,North Macedonia,1,LEVEL_3,3,NaN,<NA>
148,Niger,1,LEVEL_3,3,Niger,3,Niger,1,LEVEL_3,3,Niger,3
150,Nigeria,1,LEVEL_3,3,Nigeria,3,Nigeria,1,LEVEL_3,3,Nigeria,3
159,Pakistan,1,LEVEL_3,3,Pakistan,3,Pakistan,1,LEVEL_3,3,Pakistan,3
164,Palau,1,LEVEL_3,3,Palau,4,Palau,1,LEVEL_3,3,Palau,4
167,Puerto Rico,1,LEVEL_1,1,NaN,<NA>,Puerto Rico,1,LEVEL_1,1,NaN,<NA>
186,San Marino,1,LEVEL_1,1,NaN,<NA>,San Marino,1,LEVEL_1,1,NaN,<NA>
199,Togo,1,LEVEL_3,3,Togo,3,Togo,1,LEVEL_3,3,Togo,3
200,Thailand,1,LEVEL_3,3,Thailand,3,Thailand,1,LEVEL_3,3,Thailand,3
216,Vatican City,1,LEVEL_1,1,NaN,<NA>,Vatican City,1,LEVEL_1,1,NaN,<NA>
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3

In [102]:
#If we were dealing with a DF with millions of rows, how would I see if two DFs are identical?

#DF1DF3['CountryName_x'] != DF1DF3['CountryName_y'] #Check Column by column?
#DF1DF3['FullyVaccinated_x'] != DF1DF3['FullyVaccinated_y'] 
#DF1DF3['TravelOpenness_x'] != DF1DF3['TravelOpenness_y'] 
#DF1DF3['TravelOpennessInt_x'] != DF1DF3['TravelOpennessInt_y'] 
#DF1DF3['Country Name_x'] != DF1DF3['Country Name_y'] # Gives me True when Nan <NA>, probably because it cannot compare Nan 
#and <NA>

#ASK SARA: HOW TO HIGHLIGHT ONLY THE ROWS THAT HAVE Country Name_x = Nan

#def highlight_cols(x):
      
    # copy df to new - original data is not changed
 #   DF1DF3 = x.copy()
      
    # select all values to yellow color
    #DF1DF3.loc[:, :] = 'background-color: yellow'
  #  DF1DF3.loc['Country Name_x, Country Name_y'] = 'background-color: yellow'
      
    # return color df
   # return DF1DF3
  
#print("Highlighted DataFrame :")
#display(DF1DF3.style.apply(highlight_cols, axis = None))

2      False
10     False
18     False
22      True
23     False
25     False
26     False
28     False
32     False
40      True
41     False
47     False
54     False
63     False
68     False
71     False
82     False
83     False
96     False
98     False
111     True
117     True
119     True
133     True
148    False
150    False
159    False
164    False
167     True
186     True
199    False
200    False
216     True
226    False
dtype: bool

In [149]:
DF1DF3['Country Name_x']

2      background-color: yellow
10     background-color: yellow
18     background-color: yellow
22     background-color: yellow
23     background-color: yellow
25     background-color: yellow
26     background-color: yellow
28     background-color: yellow
32     background-color: yellow
40     background-color: yellow
41     background-color: yellow
47     background-color: yellow
54     background-color: yellow
63     background-color: yellow
68     background-color: yellow
71     background-color: yellow
82     background-color: yellow
83     background-color: yellow
96     background-color: yellow
98     background-color: yellow
111    background-color: yellow
117    background-color: yellow
119    background-color: yellow
133    background-color: yellow
148    background-color: yellow
150    background-color: yellow
159    background-color: yellow
164    background-color: yellow
167    background-color: yellow
186    background-color: yellow
199    background-color: yellow
200    background-color: yellow
216    background-color: yellow
226    background-color: yellow
Name: Country Name_x, dtype: object

'background-color: yellow'

In [84]:
#Use concat to merge the two DFs https://www.youtube.com/watch?v=ZQREwPlcLTQ
DF1_DF2 = pd.concat([DF1.set_index('CountryName'), DF2.set_index('CountryName')], axis = 'columns', keys =['First', 'Second'])

In [85]:
DF1_DF3 = pd.concat([DF1.set_index('CountryName'), DF3.set_index('CountryName')], axis = 'columns', keys =['First', 'Third'])

In [86]:
DF1_DF2

                                           First                 \
                                 FullyVaccinated TravelOpenness
Angola                                         1        LEVEL_3
Antigua and Barbuda                            1        LEVEL_3
Bangladesh                                     1        LEVEL_3
Bosnia and Herzegovina                         1        LEVEL_1
Belarus                                        1        LEVEL_3
Bermuda                                        1        LEVEL_3
Bolivia                                        1        LEVEL_3
Barbados                                       1        LEVEL_3
Central African Republic                       1        LEVEL_3
Democratic Republic of the Congo               1        LEVEL_3
Congo                                          1        LEVEL_3
Cuba                                           1        LEVEL_3
Dominica                                       1        LEVEL_3
Ethiopia                                       1        LEVEL_3
Faroe Islands                                  1        LEVEL_3
United Kingdom                                 1        LEVEL_3
Grenada                                        1        LEVEL_3
Greenland                                      1        LEVEL_3
Ireland                                        1        LEVEL_3
Iraq                                           1        LEVEL_3
Saint Kitts and Nevis                          1        LEVEL_3
Libya                                          1        LEVEL_3
Liechtenstein                                  1        LEVEL_1
North Macedonia                                1        LEVEL_3
Niger                                          1        LEVEL_3
Nigeria                                        1        LEVEL_3
Pakistan                                       1        LEVEL_3
Palau                                          1        LEVEL_3
Puerto Rico                                    1        LEVEL_1
San Marino                                     1        LEVEL_1
Togo                                           1        LEVEL_3
Thailand                                       1        LEVEL_3
Vatican City                                   1        LEVEL_1
Zimbabwe                                       1        LEVEL_3

                                                                              \
                                 TravelOpennessInt              Country Name
Angola                                           3                    Angola
Antigua and Barbuda                              3       Antigua and Barbuda
Bangladesh                                       3                Bangladesh
Bosnia and Herzegovina                           1                       NaN
Belarus                                          3                   Belarus
Bermuda                                          3                   Bermuda
Bolivia                                          3                   Bolivia
Barbados                                         3                  Barbados
Central African Republic                         3  Central African Republic
Democratic Republic of the Congo                 3                       NaN
Congo                                            3                     Congo
Cuba                                             3                      Cuba
Dominica                                         3                  Dominica
Ethiopia                                         3                  Ethiopia
Faroe Islands                                    3             Faroe Islands
United Kingdom                                   3            United Kingdom
Grenada                                          3                   Grenada
Greenland                                        3                 Greenland
Ireland                                          3                   Ireland
Iraq                                             3                      Iraq
Saint Kitts and Nevis                            3                       NaN
Libya                                            3                       NaN
Liechtenstein                                    1                       NaN
North Macedonia                                  3                       NaN
Niger                                            3                     Niger
Nigeria                                          3                   Nigeria
Pakistan                                         3                  Pakistan
Palau                                            3                     Palau
Puerto Rico                                      1                       NaN
San Marino                                       1                       NaN
Togo                                             3                      Togo
Thailand                                         3                  Thailand
Vatican City                                     1                       NaN
Zimbabwe                                         3                  Zimbabwe

                                                       Second                 \
                                 SherpaRating FullyVaccinated TravelOpenness
Angola                                      3             NaN            NaN
Antigua and Barbuda                         3             NaN            NaN
Bangladesh                                  3             NaN            NaN
Bosnia and Herzegovina                   <NA>             1.0        LEVEL_1
Belarus                                     3             NaN            NaN
Bermuda                                     3             NaN            NaN
Bolivia                                     3             NaN            NaN
Barbados                                    3             NaN            NaN
Central African Republic                    3             NaN            NaN
Democratic Republic of the Congo         <NA>             1.0        LEVEL_3
Congo                                       3             NaN            NaN
Cuba                                        3             NaN            NaN
Dominica                                    2             NaN            NaN
Ethiopia                                    3             NaN            NaN
Faroe Islands                               2             NaN            NaN
United Kingdom                              3             NaN            NaN
Grenada                                     3             NaN            NaN
Greenland                                   3             NaN            NaN
Ireland                                     3             NaN            NaN
Iraq                                        3             NaN            NaN
Saint Kitts and Nevis                    <NA>             1.0        LEVEL_3
Libya                                    <NA>             1.0        LEVEL_3
Liechtenstein                            <NA>             1.0        LEVEL_1
North Macedonia                          <NA>             1.0        LEVEL_3
Niger                                       3             NaN            NaN
Nigeria                                     3             NaN            NaN
Pakistan                                    3             NaN            NaN
Palau                                       4             NaN            NaN
Puerto Rico                              <NA>             1.0        LEVEL_1
San Marino                               <NA>             1.0        LEVEL_1
Togo                                        3             NaN            NaN
Thailand                                    3             NaN            NaN
Vatican City                             <NA>             1.0        LEVEL_1
Zimbabwe                                    3             NaN            NaN


                                 TravelOpennessInt Country Name SherpaRating
Angola                                         NaN          NaN         <NA>
Antigua and Barbuda                            NaN          NaN         <NA>
Bangladesh                                     NaN          NaN         <NA>
Bosnia and Herzegovina                         1.0          NaN         <NA>
Belarus                                        NaN          NaN         <NA>
Bermuda                                        NaN          NaN         <NA>
Bolivia                                        NaN          NaN         <NA>
Barbados                                       NaN          NaN         <NA>
Central African Republic                       NaN          NaN         <NA>
Democratic Republic of the Congo               3.0          NaN         <NA>
Congo                                          NaN          NaN         <NA>
Cuba                                           NaN          NaN         <NA>
Dominica                                       NaN          NaN         <NA>
Ethiopia                                       NaN          NaN         <NA>
Faroe Islands                                  NaN          NaN         <NA>
United Kingdom                                 NaN          NaN         <NA>
Grenada                                        NaN          NaN         <NA>
Greenland                                      NaN          NaN         <NA>
Ireland                                        NaN          NaN         <NA>
Iraq                                           NaN          NaN         <NA>
Saint Kitts and Nevis                          3.0          NaN         <NA>
Libya                                          3.0          NaN         <NA>
Liechtenstein                                  1.0          NaN         <NA>
North Macedonia                                3.0          NaN         <NA>
Niger                                          NaN          NaN         <NA>
Nigeria                                        NaN          NaN         <NA>
Pakistan                                       NaN          NaN         <NA>
Palau                                          NaN          NaN         <NA>
Puerto Rico                                    1.0          NaN         <NA>
San Marino                                     1.0          NaN         <NA>
Togo                                           NaN          NaN         <NA>
Thailand                                       NaN          NaN         <NA>
Vatican City                                   1.0          NaN         <NA>
Zimbabwe                                       NaN          NaN         <NA>

In [87]:
DF1_DF3

                                           First                 \
                                 FullyVaccinated TravelOpenness
CountryName
Angola                                         1        LEVEL_3
Antigua and Barbuda                            1        LEVEL_3
Bangladesh                                     1        LEVEL_3
Bosnia and Herzegovina                         1        LEVEL_1
Belarus                                        1        LEVEL_3
Bermuda                                        1        LEVEL_3
Bolivia                                        1        LEVEL_3
Barbados                                       1        LEVEL_3
Central African Republic                       1        LEVEL_3
Democratic Republic of the Congo               1        LEVEL_3
Congo                                          1        LEVEL_3
Cuba                                           1        LEVEL_3
Dominica                                       1        LEVEL_3
Ethiopia                                       1        LEVEL_3
Faroe Islands                                  1        LEVEL_3
United Kingdom                                 1        LEVEL_3
Grenada                                        1        LEVEL_3
Greenland                                      1        LEVEL_3
Ireland                                        1        LEVEL_3
Iraq                                           1        LEVEL_3
Saint Kitts and Nevis                          1        LEVEL_3
Libya                                          1        LEVEL_3
Liechtenstein                                  1        LEVEL_1
North Macedonia                                1        LEVEL_3
Niger                                          1        LEVEL_3
Nigeria                                        1        LEVEL_3
Pakistan                                       1        LEVEL_3
Palau                                          1        LEVEL_3
Puerto Rico                                    1        LEVEL_1
San Marino                                     1        LEVEL_1
Togo                                           1        LEVEL_3
Thailand                                       1        LEVEL_3
Vatican City                                   1        LEVEL_1
Zimbabwe                                       1        LEVEL_3

                                                                              \
                                 TravelOpennessInt              Country Name
CountryName
Angola                                           3                    Angola
Antigua and Barbuda                              3       Antigua and Barbuda
Bangladesh                                       3                Bangladesh
Bosnia and Herzegovina                           1                       NaN
Belarus                                          3                   Belarus
Bermuda                                          3                   Bermuda
Bolivia                                          3                   Bolivia
Barbados                                         3                  Barbados
Central African Republic                         3  Central African Republic
Democratic Republic of the Congo                 3                       NaN
Congo                                            3                     Congo
Cuba                                             3                      Cuba
Dominica                                         3                  Dominica
Ethiopia                                         3                  Ethiopia
Faroe Islands                                    3             Faroe Islands
United Kingdom                                   3            United Kingdom
Grenada                                          3                   Grenada
Greenland                                        3                 Greenland
Ireland                                          3                   Ireland
Iraq                                             3                      Iraq
Saint Kitts and Nevis                            3                       NaN
Libya                                            3                       NaN
Liechtenstein                                    1                       NaN
North Macedonia                                  3                       NaN
Niger                                            3                     Niger
Nigeria                                          3                   Nigeria
Pakistan                                         3                  Pakistan
Palau                                            3                     Palau
Puerto Rico                                      1                       NaN
San Marino                                       1                       NaN
Togo                                             3                      Togo
Thailand                                         3                  Thailand
Vatican City                                     1                       NaN
Zimbabwe                                         3                  Zimbabwe

                                                        Third                 \
                                 SherpaRating FullyVaccinated TravelOpenness
CountryName
Angola                                      3               1        LEVEL_3
Antigua and Barbuda                         3               1        LEVEL_3
Bangladesh                                  3               1        LEVEL_3
Bosnia and Herzegovina                   <NA>               1        LEVEL_1
Belarus                                     3               1        LEVEL_3
Bermuda                                     3               1        LEVEL_3
Bolivia                                     3               1        LEVEL_3
Barbados                                    3               1        LEVEL_3
Central African Republic                    3               1        LEVEL_3
Democratic Republic of the Congo         <NA>               1        LEVEL_3
Congo                                       3               1        LEVEL_3
Cuba                                        3               1        LEVEL_3
Dominica                                    2               1        LEVEL_3
Ethiopia                                    3               1        LEVEL_3
Faroe Islands                               2               1        LEVEL_3
United Kingdom                              3               1        LEVEL_3
Grenada                                     3               1        LEVEL_3
Greenland                                   3               1        LEVEL_3
Ireland                                     3               1        LEVEL_3
Iraq                                        3               1        LEVEL_3
Saint Kitts and Nevis                    <NA>               1        LEVEL_3
Libya                                    <NA>               1        LEVEL_3
Liechtenstein                            <NA>               1        LEVEL_1
North Macedonia                          <NA>               1        LEVEL_3
Niger                                       3               1        LEVEL_3
Nigeria                                     3               1        LEVEL_3
Pakistan                                    3               1        LEVEL_3
Palau                                       4               1        LEVEL_3
Puerto Rico                              <NA>               1        LEVEL_1
San Marino                               <NA>               1        LEVEL_1
Togo                                        3               1        LEVEL_3
Thailand                                    3               1        LEVEL_3
Vatican City                             <NA>               1        LEVEL_1
Zimbabwe                                    3               1        LEVEL_3

                                                                              \
                                 TravelOpennessInt              Country Name
CountryName
Angola                                           3                    Angola
Antigua and Barbuda                              3       Antigua and Barbuda
Bangladesh                                       3                Bangladesh
Bosnia and Herzegovina                           1                       NaN
Belarus                                          3                   Belarus
Bermuda                                          3                   Bermuda
Bolivia                                          3                   Bolivia
Barbados                                         3                  Barbados
Central African Republic                         3  Central African Republic
Democratic Republic of the Congo                 3                       NaN
Congo                                            3                     Congo
Cuba                                             3                      Cuba
Dominica                                         3                  Dominica
Ethiopia                                         3                  Ethiopia
Faroe Islands                                    3             Faroe Islands
United Kingdom                                   3            United Kingdom
Grenada                                          3                   Grenada
Greenland                                        3                 Greenland
Ireland                                          3                   Ireland
Iraq                                             3                      Iraq
Saint Kitts and Nevis                            3                       NaN
Libya                                            3                       NaN
Liechtenstein                                    1                       NaN
North Macedonia                                  3                       NaN
Niger                                            3                     Niger
Nigeria                                          3                   Nigeria
Pakistan                                         3                  Pakistan
Palau                                            3                     Palau
Puerto Rico                                      1                       NaN
San Marino                                       1                       NaN
Togo                                             3                      Togo
Thailand                                         3                  Thailand
Vatican City                                     1                       NaN
Zimbabwe                                         3                  Zimbabwe


                                 SherpaRating
CountryName
Angola                                      3
Antigua and Barbuda                         3
Bangladesh                                  3
Bosnia and Herzegovina                   <NA>
Belarus                                     3
Bermuda                                     3
Bolivia                                     3
Barbados                                    3
Central African Republic                    3
Democratic Republic of the Congo         <NA>
Congo                                       3
Cuba                                        3
Dominica                                    2
Ethiopia                                    3
Faroe Islands                               2
United Kingdom                              3
Grenada                                     3
Greenland                                   3
Ireland                                     3
Iraq                                        3
Saint Kitts and Nevis                    <NA>
Libya                                    <NA>
Liechtenstein                            <NA>
North Macedonia                          <NA>
Niger                                       3
Nigeria                                     3
Pakistan                                    3
Palau                                       4
Puerto Rico                              <NA>
San Marino                               <NA>
Togo                                        3
Thailand                                    3
Vatican City                             <NA>
Zimbabwe                                    3

In [88]:
DF2Final = DF1_DF2.swaplevel(axis = 'columns')[DF1.columns[1:]]

In [89]:
DF2Final

                                 FullyVaccinated        TravelOpenness  \
                                           First Second          First
Angola                                         1    NaN        LEVEL_3
Antigua and Barbuda                            1    NaN        LEVEL_3
Bangladesh                                     1    NaN        LEVEL_3
Bosnia and Herzegovina                         1    1.0        LEVEL_1
Belarus                                        1    NaN        LEVEL_3
Bermuda                                        1    NaN        LEVEL_3
Bolivia                                        1    NaN        LEVEL_3
Barbados                                       1    NaN        LEVEL_3
Central African Republic                       1    NaN        LEVEL_3
Democratic Republic of the Congo               1    1.0        LEVEL_3
Congo                                          1    NaN        LEVEL_3
Cuba                                           1    NaN        LEVEL_3
Dominica                                       1    NaN        LEVEL_3
Ethiopia                                       1    NaN        LEVEL_3
Faroe Islands                                  1    NaN        LEVEL_3
United Kingdom                                 1    NaN        LEVEL_3
Grenada                                        1    NaN        LEVEL_3
Greenland                                      1    NaN        LEVEL_3
Ireland                                        1    NaN        LEVEL_3
Iraq                                           1    NaN        LEVEL_3
Saint Kitts and Nevis                          1    1.0        LEVEL_3
Libya                                          1    1.0        LEVEL_3
Liechtenstein                                  1    1.0        LEVEL_1
North Macedonia                                1    1.0        LEVEL_3
Niger                                          1    NaN        LEVEL_3
Nigeria                                        1    NaN        LEVEL_3
Pakistan                                       1    NaN        LEVEL_3
Palau                                          1    NaN        LEVEL_3
Puerto Rico                                    1    1.0        LEVEL_1
San Marino                                     1    1.0        LEVEL_1
Togo                                           1    NaN        LEVEL_3
Thailand                                       1    NaN        LEVEL_3
Vatican City                                   1    1.0        LEVEL_1
Zimbabwe                                       1    NaN        LEVEL_3

                                          TravelOpennessInt         \
                                   Second             First Second
Angola                                NaN                 3    NaN
Antigua and Barbuda                   NaN                 3    NaN
Bangladesh                            NaN                 3    NaN
Bosnia and Herzegovina            LEVEL_1                 1    1.0
Belarus                               NaN                 3    NaN
Bermuda                               NaN                 3    NaN
Bolivia                               NaN                 3    NaN
Barbados                              NaN                 3    NaN
Central African Republic              NaN                 3    NaN
Democratic Republic of the Congo  LEVEL_3                 3    3.0
Congo                                 NaN                 3    NaN
Cuba                                  NaN                 3    NaN
Dominica                              NaN                 3    NaN
Ethiopia                              NaN                 3    NaN
Faroe Islands                         NaN                 3    NaN
United Kingdom                        NaN                 3    NaN
Grenada                               NaN                 3    NaN
Greenland                             NaN                 3    NaN
Ireland                               NaN                 3    NaN
Iraq                                  NaN                 3    NaN
Saint Kitts and Nevis             LEVEL_3                 3    3.0
Libya                             LEVEL_3                 3    3.0
Liechtenstein                     LEVEL_1                 1    1.0
North Macedonia                   LEVEL_3                 3    3.0
Niger                                 NaN                 3    NaN
Nigeria                               NaN                 3    NaN
Pakistan                              NaN                 3    NaN
Palau                                 NaN                 3    NaN
Puerto Rico                       LEVEL_1                 1    1.0
San Marino                        LEVEL_1                 1    1.0
Togo                                  NaN                 3    NaN
Thailand                              NaN                 3    NaN
Vatican City                      LEVEL_1                 1    1.0
Zimbabwe                              NaN                 3    NaN

                                              Country Name         \
                                                     First Second
Angola                                              Angola    NaN
Antigua and Barbuda                    Antigua and Barbuda    NaN
Bangladesh                                      Bangladesh    NaN
Bosnia and Herzegovina                                 NaN    NaN
Belarus                                            Belarus    NaN
Bermuda                                            Bermuda    NaN
Bolivia                                            Bolivia    NaN
Barbados                                          Barbados    NaN
Central African Republic          Central African Republic    NaN
Democratic Republic of the Congo                       NaN    NaN
Congo                                                Congo    NaN
Cuba                                                  Cuba    NaN
Dominica                                          Dominica    NaN
Ethiopia                                          Ethiopia    NaN
Faroe Islands                                Faroe Islands    NaN
United Kingdom                              United Kingdom    NaN
Grenada                                            Grenada    NaN
Greenland                                        Greenland    NaN
Ireland                                            Ireland    NaN
Iraq                                                  Iraq    NaN
Saint Kitts and Nevis                                  NaN    NaN
Libya                                                  NaN    NaN
Liechtenstein                                          NaN    NaN
North Macedonia                                        NaN    NaN
Niger                                                Niger    NaN
Nigeria                                            Nigeria    NaN
Pakistan                                          Pakistan    NaN
Palau                                                Palau    NaN
Puerto Rico                                            NaN    NaN
San Marino                                             NaN    NaN
Togo                                                  Togo    NaN
Thailand                                          Thailand    NaN
Vatican City                                           NaN    NaN
Zimbabwe                                          Zimbabwe    NaN

                                 SherpaRating
                                        First Second
Angola                                      3   <NA>
Antigua and Barbuda                         3   <NA>
Bangladesh                                  3   <NA>
Bosnia and Herzegovina                   <NA>   <NA>
Belarus                                     3   <NA>
Bermuda                                     3   <NA>
Bolivia                                     3   <NA>
Barbados                                    3   <NA>
Central African Republic                    3   <NA>
Democratic Republic of the Congo         <NA>   <NA>
Congo                                       3   <NA>
Cuba                                        3   <NA>
Dominica                                    2   <NA>
Ethiopia                                    3   <NA>
Faroe Islands                               2   <NA>
United Kingdom                              3   <NA>
Grenada                                     3   <NA>
Greenland                                   3   <NA>
Ireland                                     3   <NA>
Iraq                                        3   <NA>
Saint Kitts and Nevis                    <NA>   <NA>
Libya                                    <NA>   <NA>
Liechtenstein                            <NA>   <NA>
North Macedonia                          <NA>   <NA>
Niger                                       3   <NA>
Nigeria                                     3   <NA>
Pakistan                                    3   <NA>
Palau                                       4   <NA>
Puerto Rico                              <NA>   <NA>
San Marino                               <NA>   <NA>
Togo                                        3   <NA>
Thailand                                    3   <NA>
Vatican City                             <NA>   <NA>
Zimbabwe                                    3   <NA>

In [95]:
import numpy as np
def highlight(data, color = 'yellow'):
    attr = 'background-color:{}'.format(color)
    other = data.xs('First', axis = 'columns', level = -1)
    return pd.DataFrame(np.where(data.ne(other, level = 0), attr, ''), index = data.index, columns = data.columns)

In [97]:
#DF2Final.style.apply(highlight, axis = None)
highlight(DF2Final)

SystemError: <built-in function where> returned a result with an error set

In [271]:
DF1['CountryName'].to_excel('DF1.xlsx')

In [272]:
mergedDF1DF2 = DF1.merge(DF2,
                  left_on = 'CountryName', #provide column name from first dataframe
                  right_on = 'CountryName', #provide corresponding column name from the second dataframe,
                  how = 'left') #this means the first worksheet stays the same, we will be adding the second to the first. 
                                #This corresponds to an excel left merge

In [273]:
mergedDF1DF2

,CountryName,FullyVaccinated_x,TravelOpenness_x,TravelOpennessInt_x,Country Name_x,SherpaRating_x,FullyVaccinated_y,TravelOpenness_y,TravelOpennessInt_y,Country Name_y,SherpaRating_y
0,Angola,1,LEVEL_3,3,Angola,3,NaN,NaN,NaN,NaN,<NA>
1,Antigua and Barbuda,1,LEVEL_3,3,Antigua and Barbuda,3,NaN,NaN,NaN,NaN,<NA>
2,Bangladesh,1,LEVEL_3,3,Bangladesh,3,NaN,NaN,NaN,NaN,<NA>
3,Bosnia and Herzegovina,1,LEVEL_1,1,NaN,<NA>,1.0,LEVEL_1,1.0,NaN,<NA>
4,Belarus,1,LEVEL_3,3,Belarus,3,NaN,NaN,NaN,NaN,<NA>
5,Bermuda,1,LEVEL_3,3,Bermuda,3,NaN,NaN,NaN,NaN,<NA>
6,Bolivia,1,LEVEL_3,3,Bolivia,3,NaN,NaN,NaN,NaN,<NA>
7,Barbados,1,LEVEL_3,3,Barbados,3,NaN,NaN,NaN,NaN,<NA>
8,Central African Republic,1,LEVEL_3,3,Central African Republic,3,NaN,NaN,NaN,NaN,<NA>
9,Democratic Republic of the Congo,1,LEVEL_3,3,NaN,<NA>,1.0,LEVEL_3,3.0,NaN,<NA>
10,Congo,1,LEVEL_3,3,Congo,3,NaN,NaN,NaN,NaN,<NA>
11,Cuba,1,LEVEL_3,3,Cuba,3,NaN,NaN,NaN,NaN,<NA>
12,Dominica,1,LEVEL_3,3,Dominica,2,NaN,NaN,NaN,NaN,<NA>
13,Ethiopia,1,LEVEL_3,3,Ethiopia,3,NaN,NaN,NaN,NaN,<NA>
14,Faroe Islands,1,LEVEL_3,3,Faroe Islands,2,NaN,NaN,NaN,NaN,<NA>
15,United Kingdom,1,LEVEL_3,3,United Kingdom,3,NaN,NaN,NaN,NaN,<NA>
16,Grenada,1,LEVEL_3,3,Grenada,3,NaN,NaN,NaN,NaN,<NA>
17,Greenland,1,LEVEL_3,3,Greenland,3,NaN,NaN,NaN,NaN,<NA>
18,Ireland,1,LEVEL_3,3,Ireland,3,NaN,NaN,NaN,NaN,<NA>
19,Iraq,1,LEVEL_3,3,Iraq,3,NaN,NaN,NaN,NaN,<NA>
20,Saint Kitts and Nevis,1,LEVEL_3,3,NaN,<NA>,1.0,LEVEL_3,3.0,NaN,<NA>
21,Libya,1,LEVEL_3,3,NaN,<NA>,1.0,LEVEL_3,3.0,NaN,<NA>
22,Liechtenstein,1,LEVEL_1,1,NaN,<NA>,1.0,LEVEL_1,1.0,NaN,<NA>
23,North Macedonia,1,LEVEL_3,3,NaN,<NA>,1.0,LEVEL_3,3.0,NaN,<NA>
24,Niger,1,LEVEL_3,3,Niger,3,NaN,NaN,NaN,NaN,<NA>
25,Nigeria,1,LEVEL_3,3,Nigeria,3,NaN,NaN,NaN,NaN,<NA>
26,Pakistan,1,LEVEL_3,3,Pakistan,3,NaN,NaN,NaN,NaN,<NA>
27,Palau,1,LEVEL_3,3,Palau,4,NaN,NaN,NaN,NaN,<NA>
28,Puerto Rico,1,LEVEL_1,1,NaN,<NA>,1.0,LEVEL_1,1.0,NaN,<NA>
29,San Marino,1,LEVEL_1,1,NaN,<NA>,1.0,LEVEL_1,1.0,NaN,<NA>
30,Togo,1,LEVEL_3,3,Togo,3,NaN,NaN,NaN,NaN,<NA>
31,Thailand,1,LEVEL_3,3,Thailand,3,NaN,NaN,NaN,NaN,<NA>
32,Vatican City,1,LEVEL_1,1,NaN,<NA>,1.0,LEVEL_1,1.0,NaN,<NA>
33,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3,NaN,NaN,NaN,NaN,<NA>

In [100]:
#let's transfer the mergedDF into an excel to see what it looks like
mergedDF.to_excel('MergedExcel.xlsx')

#When I open the excel I see that some countries that are in Manish data are missing from Amy's data

In [133]:
#I then want to write a program that runs through every row, checks that Country Name is the same and Sherpa Rating is 
#the same

#In English: for every row check the country in CountryName column. If it's equal to the country in Country Name column
#check that the corresponding TravelOpennessInt value is equal to the SherpaRating value.
#If it's not equal print 'Country Name' is misssng in Amy's data. Its Sherpa rating per Manish's data is ---''
#If the country in Country Name is equal to country in CountryName and the corresponding TravelOpennessInt and SherpaRating
#are not equal print 'The updated value of the Sherpa Rating for country x is y'

In [133]:
#To learn more on how to iterate through a dataframe https://www.youtube.com/watch?v=XWI1m5AWeaw
#Iterate through mergeDF with list comprehension.
CountryName = [x for x in mergedDF['CountryName']]
CountryName

['Aruba',
 'Afghanistan',
 'Angola',
 'Anguilla',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Cocos (Keeling) Islands',
 'Switzerland',
 'Chile',
 'China',
 'Ivory Coast',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Christmas Island',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands (Islas Malvinas)',
 'France',
 'Faroe Islands',
 'Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Guernsey',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Guadeloupe',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'Hong Kong',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Isle of Man',
 'India',
 'British Indian Ocean Territory',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jersey',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Saint Kitts and Nevis',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macau',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Montserrat',
 'Martinique',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Norfolk Island',
 'Nigeria',
 'Nicaragua',
 'Niue',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Pitcairn Islands',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 'Portugal',
 'Paraguay',
 'Palestinian Territories',
 'French Polynesia',
 'Qatar',
 'RÃƒÂ©union',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'South Georgia and the South Sandwich Islands',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'SÃƒÂ£o TomÃƒÂ© and PrÃƒ\xadncipe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Syria',
 'Turks and Caicos Islands',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Tokelau',
 'East Timor',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Taiwan',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'United States Minor Outlying Islands',
 'Uruguay',
 'Uzbekistan',
 'Vatican City',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'British Virgin Islands',
 'U.S. Virgin Islands',
 'Vietnam',
 'Vanuatu',
 'Samoa',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [134]:
Country_Name = [x for x in mergedDF['Country Name']]
Country_Name

['Aruba',
 'Afghanistan',
 'Angola',
 'Anguilla',
 'Albania',
 nan,
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 nan,
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 nan,
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Cocos (Keeling) Islands',
 'Switzerland',
 'Chile',
 'China',
 nan,
 'Cameroon',
 nan,
 'Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Christmas Island',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 nan,
 'France',
 'Faroe Islands',
 'Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 nan,
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Guadeloupe',
 nan,
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'Hong Kong',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 nan,
 'India',
 nan,
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 nan,
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 nan,
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 nan,
 nan,
 nan,
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macau',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 nan,
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 nan,
 'Martinique',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Norfolk Island',
 'Nigeria',
 'Nicaragua',
 'Niue',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 nan,
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 nan,
 'Portugal',
 'Paraguay',
 nan,
 'French Polynesia',
 'Qatar',
 nan,
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 nan,
 nan,
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 nan,
 'Somalia',
 'Serbia',
 nan,
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 nan,
 'Seychelles',
 nan,
 'Turks and Caicos Islands',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 nan,
 'East Timor',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Taiwan',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'United States Minor Outlying Islands',
 'Uruguay',
 'Uzbekistan',
 nan,
 nan,
 'Venezuela',
 'British Virgin Islands',
 nan,
 'Vietnam',
 'Vanuatu',
 'Samoa',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [140]:
#Make a better choice: switch the conditions in my for loop to actually get what I want
#136 - 139 is my initial for loop that displays all countries where Manish rating matches Amy's rating. 136 -139 was my 
#lenghty reasoning before I spoke with Sara
for i in range(len(CountryName)):
    if CountryName[i] == Country_Name[i]:
        print(CountryName[i])
    else:
        print("Missing in Amy's data")

Aruba
Afghanistan
Angola
Anguilla
Albania
Missing in Amy's data
United Arab Emirates
Argentina
Armenia
American Samoa
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas
Missing in Amy's data
Belarus
Belize
Bermuda
Bolivia
Brazil
Barbados
Missing in Amy's data
Bhutan
Botswana
Central African Republic
Canada
Cocos (Keeling) Islands
Switzerland
Chile
China
Missing in Amy's data
Cameroon
Missing in Amy's data
Congo
Cook Islands
Colombia
Comoros
Cape Verde
Costa Rica
Cuba
Christmas Island
Cayman Islands
Cyprus
Czech Republic
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Spain
Estonia
Ethiopia
Finland
Fiji
Missing in Amy's data
France
Faroe Islands
Micronesia
Gabon
United Kingdom
Georgia
Missing in Amy's data
Ghana
Gibraltar
Guinea
Guadeloupe
Missing in Amy's data
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
Guam
Guyana
Hong Kong
Honduras
Croatia
Haiti
Hungary
Indonesia
Missing in Amy's data
India
Missing in Amy's data
Ireland
Iran
Iraq
Iceland
Israel
Italy
Jamaica
Missing in Amy's data
Jordan
Japan
Kazakhstan
Kenya
Kyrgyzstan
Cambodia
Kiribati
Missing in Amy's data
South Korea
Kuwait
Laos
Lebanon
Liberia
Missing in Amy's data
Missing in Amy's data
Missing in Amy's data
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Macau
Morocco
Monaco
Moldova
Madagascar
Maldives
Mexico
Marshall Islands
Missing in Amy's data
Mali
Malta
Myanmar
Montenegro
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Missing in Amy's data
Martinique
Mauritius
Malawi
Malaysia
Namibia
Niger
Norfolk Island
Nigeria
Nicaragua
Niue
Netherlands
Norway
Nepal
Nauru
New Zealand
Oman
Pakistan
Panama
Missing in Amy's data
Peru
Philippines
Palau
Papua New Guinea
Poland
Missing in Amy's data
Portugal
Paraguay
Missing in Amy's data
French Polynesia
Qatar
Missing in Amy's data
Romania
Russia
Rwanda
Saudi Arabia
Sudan
Senegal
Singapore
Missing in Amy's data
Missing in Amy's data
Solomon Islands
Sierra Leone
El Salvador
Missing in Amy's data
Somalia
Serbia
Missing in Amy's data
Suriname
Slovakia
Slovenia
Sweden
Missing in Amy's data
Seychelles
Missing in Amy's data
Turks and Caicos Islands
Chad
Togo
Thailand
Tajikistan
Missing in Amy's data
East Timor
Tonga
Trinidad and Tobago
Tunisia
Turkey
Tuvalu
Taiwan
Tanzania
Uganda
Ukraine
United States Minor Outlying Islands
Uruguay
Uzbekistan
Missing in Amy's data
Missing in Amy's data
Venezuela
British Virgin Islands
Missing in Amy's data
Vietnam
Vanuatu
Samoa
South Africa
Zambia
Zimbabwe

In [141]:
#The first piece of the for loop is done. Now we need to check the Sherpa Ratings
TravelOpennessInt = [x for x in mergedDF['TravelOpennessInt']]
TravelOpennessInt

[2,
 2,
 3,
 2,
 1,
 2,
 4,
 4,
 1,
 4,
 3,
 4,
 1,
 2,
 10,
 1,
 10,
 2,
 3,
 2,
 4,
 1,
 1,
 3,
 1,
 3,
 3,
 2,
 3,
 4,
 4,
 2,
 3,
 4,
 10,
 1,
 4,
 4,
 2,
 4,
 3,
 3,
 4,
 1,
 10,
 2,
 1,
 3,
 10,
 4,
 1,
 1,
 1,
 2,
 3,
 1,
 2,
 4,
 1,
 2,
 10,
 1,
 1,
 3,
 1,
 4,
 10,
 1,
 3,
 10,
 2,
 3,
 1,
 10,
 2,
 2,
 10,
 2,
 2,
 2,
 4,
 2,
 3,
 3,
 1,
 1,
 2,
 4,
 1,
 1,
 2,
 4,
 4,
 10,
 4,
 10,
 3,
 4,
 3,
 1,
 4,
 1,
 2,
 2,
 2,
 4,
 4,
 2,
 1,
 4,
 10,
 3,
 2,
 4,
 4,
 2,
 10,
 3,
 2,
 1,
 2,
 10,
 1,
 1,
 1,
 4,
 1,
 2,
 1,
 4,
 2,
 1,
 10,
 3,
 2,
 4,
 4,
 1,
 4,
 10,
 2,
 2,
 4,
 2,
 4,
 4,
 4,
 2,
 3,
 10,
 3,
 2,
 10,
 1,
 4,
 4,
 10,
 4,
 4,
 3,
 2,
 10,
 2,
 4,
 3,
 4,
 1,
 1,
 2,
 2,
 4,
 2,
 4,
 2,
 1,
 4,
 2,
 2,
 2,
 2,
 4,
 10,
 10,
 10,
 2,
 1,
 1,
 10,
 2,
 2,
 4,
 4,
 1,
 2,
 2,
 2,
 4,
 2,
 10,
 3,
 3,
 2,
 10,
 10,
 4,
 4,
 1,
 1,
 10,
 4,
 2,
 2,
 1,
 10,
 4,
 2,
 1,
 2,
 2,
 2,
 2,
 4,
 4,
 4,
 2,
 2,
 3]

In [142]:
SherpaRating = [x for x in mergedDF['TravelOpennessInt']] 
SherpaRating

[2,
 2,
 3,
 2,
 1,
 2,
 4,
 4,
 1,
 4,
 3,
 4,
 1,
 2,
 10,
 1,
 10,
 2,
 3,
 2,
 4,
 1,
 1,
 3,
 1,
 3,
 3,
 2,
 3,
 4,
 4,
 2,
 3,
 4,
 10,
 1,
 4,
 4,
 2,
 4,
 3,
 3,
 4,
 1,
 10,
 2,
 1,
 3,
 10,
 4,
 1,
 1,
 1,
 2,
 3,
 1,
 2,
 4,
 1,
 2,
 10,
 1,
 1,
 3,
 1,
 4,
 10,
 1,
 3,
 10,
 2,
 3,
 1,
 10,
 2,
 2,
 10,
 2,
 2,
 2,
 4,
 2,
 3,
 3,
 1,
 1,
 2,
 4,
 1,
 1,
 2,
 4,
 4,
 10,
 4,
 10,
 3,
 4,
 3,
 1,
 4,
 1,
 2,
 2,
 2,
 4,
 4,
 2,
 1,
 4,
 10,
 3,
 2,
 4,
 4,
 2,
 10,
 3,
 2,
 1,
 2,
 10,
 1,
 1,
 1,
 4,
 1,
 2,
 1,
 4,
 2,
 1,
 10,
 3,
 2,
 4,
 4,
 1,
 4,
 10,
 2,
 2,
 4,
 2,
 4,
 4,
 4,
 2,
 3,
 10,
 3,
 2,
 10,
 1,
 4,
 4,
 10,
 4,
 4,
 3,
 2,
 10,
 2,
 4,
 3,
 4,
 1,
 1,
 2,
 2,
 4,
 2,
 4,
 2,
 1,
 4,
 2,
 2,
 2,
 2,
 4,
 10,
 10,
 10,
 2,
 1,
 1,
 10,
 2,
 2,
 4,
 4,
 1,
 2,
 2,
 2,
 4,
 2,
 10,
 3,
 3,
 2,
 10,
 10,
 4,
 4,
 1,
 1,
 10,
 4,
 2,
 2,
 1,
 10,
 4,
 2,
 1,
 2,
 2,
 2,
 2,
 4,
 4,
 4,
 2,
 2,
 3]

In [143]:
#let's try with iterrows
for i, row in mergedDF.iterrows():
    print(row[0], row[3], row[4], row[5])

Aruba 2 Aruba 2
Afghanistan 2 Afghanistan 2
Angola 3 Angola 3
Anguilla 2 Anguilla 2
Albania 1 Albania 1
Andorra 2 nan <NA>
United Arab Emirates 4 United Arab Emirates 4
Argentina 4 Argentina 4
Armenia 1 Armenia 1
American Samoa 4 American Samoa 4
Antigua and Barbuda 3 Antigua and Barbuda 3
Australia 4 Australia 4
Austria 1 Austria 1
Azerbaijan 2 Azerbaijan 2
Burundi 10 Burundi 10
Belgium 1 Belgium 1
Benin 10 Benin 10
Burkina Faso 2 Burkina Faso 2
Bangladesh 3 Bangladesh 3
Bulgaria 2 Bulgaria 1
Bahrain 4 Bahrain 4
Bahamas 1 Bahamas 1
Bosnia and Herzegovina 1 nan <NA>
Belarus 3 Belarus 3
Belize 1 Belize 1
Bermuda 3 Bermuda 3
Bolivia 3 Bolivia 3
Brazil 2 Brazil 2
Barbados 3 Barbados 3
Brunei 4 nan <NA>
Bhutan 4 Bhutan 4
Botswana 2 Botswana 2
Central African Republic 3 Central African Republic 3
Canada 4 Canada 4
Cocos (Keeling) Islands 10 Cocos (Keeling) Islands 10
Switzerland 1 Switzerland 1
Chile 4 Chile 4
China 4 China 4
Ivory Coast 2 nan <NA>
Cameroon 4 Cameroon 4
Democratic Republic of the Congo 3 nan <NA>
Congo 3 Congo 3
Cook Islands 4 Cook Islands 10
Colombia 1 Colombia 1
Comoros 10 Comoros 10
Cape Verde 2 Cape Verde 2
Costa Rica 1 Costa Rica 1
Cuba 3 Cuba 3
Christmas Island 10 Christmas Island 4
Cayman Islands 4 Cayman Islands 4
Cyprus 1 Cyprus 1
Czech Republic 1 Czech Republic 1
Germany 1 Germany 1
Djibouti 2 Djibouti 2
Dominica 3 Dominica 2
Denmark 1 Denmark 1
Dominican Republic 2 Dominican Republic 2
Algeria 4 Algeria 4
Ecuador 1 Ecuador 1
Egypt 2 Egypt 2
Eritrea 10 Eritrea 10
Spain 1 Spain 1
Estonia 1 Estonia 1
Ethiopia 3 Ethiopia 3
Finland 1 Finland 1
Fiji 4 Fiji 4
Falkland Islands (Islas Malvinas) 10 nan <NA>
France 1 France 1
Faroe Islands 3 Faroe Islands 2
Micronesia 10 Micronesia 10
Gabon 2 Gabon 2
United Kingdom 3 United Kingdom 3
Georgia 1 Georgia 1
Guernsey 10 nan <NA>
Ghana 2 Ghana 2
Gibraltar 2 Gibraltar 1
Guinea 10 Guinea 10
Guadeloupe 2 Guadeloupe 1
Gambia 2 nan <NA>
Guinea-Bissau 2 Guinea-Bissau 2
Equatorial Guinea 4 Equatorial Guinea 4
Greece 2 Greece 1
Grenada 3 Grenada 3
Greenland 3 Greenland 3
Guatemala 1 Guatemala 1
Guam 1 Guam 1
Guyana 2 Guyana 2
Hong Kong 4 Hong Kong 4
Honduras 1 Honduras 1
Croatia 1 Croatia 1
Haiti 2 Haiti 2
Hungary 4 Hungary 4
Indonesia 4 Indonesia 4
Isle of Man 10 nan <NA>
India 4 India 4
British Indian Ocean Territory 10 nan <NA>
Ireland 3 Ireland 3
Iran 4 Iran 4
Iraq 3 Iraq 3
Iceland 1 Iceland 1
Israel 4 Israel 4
Italy 1 Italy 1
Jamaica 2 Jamaica 2
Jersey 2 nan <NA>
Jordan 2 Jordan 2
Japan 4 Japan 4
Kazakhstan 4 Kazakhstan 1
Kenya 2 Kenya 2
Kyrgyzstan 1 Kyrgyzstan 1
Cambodia 4 Cambodia 4
Kiribati 10 Kiribati 10
Saint Kitts and Nevis 3 nan <NA>
South Korea 2 South Korea 2
Kuwait 4 Kuwait 4
Laos 4 Laos 4
Lebanon 2 Lebanon 2
Liberia 10 Liberia 10
Libya 3 nan <NA>
Saint Lucia 2 nan <NA>
Liechtenstein 1 nan <NA>
Sri Lanka 2 Sri Lanka 2
Lesotho 10 Lesotho 10
Lithuania 1 Lithuania 1
Luxembourg 1 Luxembourg 1
Latvia 1 Latvia 1
Macau 4 Macau 4
Morocco 1 Morocco 1
Monaco 2 Monaco 2
Moldova 1 Moldova 1
Madagascar 4 Madagascar 4
Maldives 2 Maldives 2
Mexico 1 Mexico 1
Marshall Islands 10 Marshall Islands 4
North Macedonia 3 nan <NA>
Mali 2 Mali 2
Malta 4 Malta 4
Myanmar 4 Myanmar 4
Montenegro 1 Montenegro 1
Mongolia 4 Mongolia 4
Northern Mariana Islands 10 Northern Mariana Islands 10
Mozambique 2 Mozambique 2
Mauritania 2 Mauritania 2
Montserrat 4 nan <NA>
Martinique 2 Martinique 1
Mauritius 4 Mauritius 4
Malawi 4 Malawi 4
Malaysia 4 Malaysia 4
Namibia 2 Namibia 2
Niger 3 Niger 3
Norfolk Island 10 Norfolk Island 10
Nigeria 3 Nigeria 3
Nicaragua 2 Nicaragua 2
Niue 10 Niue 10
Netherlands 1 Netherlands 1
Norway 4 Norway 4
Nepal 4 Nepal 4
Nauru 10 Nauru 10
New Zealand 4 New Zealand 4
Oman 4 Oman 4
Pakistan 3 Pakistan 3
Panama 2 Panama 2
Pitcairn Islands 10 nan <NA>
Peru 2 Peru 2
Philippines 4 Philippines 4
Palau 3 Palau 4
Papua New Guinea 4 Papua New Guinea 4
Poland 1 Poland 1
Puerto Rico 1 nan <NA>
Portugal 2 Portugal 2
Paraguay 2 Paraguay 2
Palestinian Territories 4 nan <NA>
French Polynesia 2 French Polynesia 2
Qatar 4 Qatar 4
RÃƒÂ©union 2 nan <NA>
Romania 1 Romania 1
Russia 4 Russia 4
Rwanda 2 Rwanda 3
Saudi Arabia 2 Saudi Arabia 2
Sudan 2 Sudan 2
Senegal 2 Senegal 2
Singapore 4 Singapore 4
South Georgia and the South Sandwich Islands 10 nan <NA>
Saint Helena, Ascension and Tristan da Cunha 10 nan <NA>
Solomon Islands 10 Solomon Islands 10
Sierra Leone 2 Sierra Leone 2
El Salvador 1 El Salvador 1
San Marino 1 nan <NA>
Somalia 10 Somalia 10
Serbia 2 Serbia 1
SÃƒÂ£o TomÃƒÂ© and PrÃƒÂ­ncipe 2 nan <NA>
Suriname 4 Suriname 4
Slovakia 4 Slovakia 4
Slovenia 1 Slovenia 1
Sweden 2 Sweden 4
Eswatini 2 nan <NA>
Seychelles 2 Seychelles 10
Syria 4 nan <NA>
Turks and Caicos Islands 2 Turks and Caicos Islands 2
Chad 10 Chad 10
Togo 3 Togo 3
Thailand 3 Thailand 3
Tajikistan 2 Tajikistan 2
Tokelau 10 nan <NA>
East Timor 10 East Timor 10
Tonga 4 Tonga 4
Trinidad and Tobago 4 Trinidad and Tobago 4
Tunisia 1 Tunisia 1
Turkey 1 Turkey 1
Tuvalu 10 Tuvalu 4
Taiwan 4 Taiwan 4
Tanzania 2 Tanzania 2
Uganda 2 Uganda 2
Ukraine 1 Ukraine 1
United States Minor Outlying Islands 10 United States Minor Outlying Islands 4
Uruguay 4 Uruguay 4
Uzbekistan 2 Uzbekistan 2
Vatican City 1 nan <NA>
Saint Vincent and the Grenadines 2 nan <NA>
Venezuela 2 Venezuela 2
British Virgin Islands 2 British Virgin Islands 2
U.S. Virgin Islands 2 nan <NA>
Vietnam 4 Vietnam 4
Vanuatu 4 Vanuatu 4
Samoa 4 Samoa 4
South Africa 2 South Africa 2
Zambia 2 Zambia 2
Zimbabwe 3 Zimbabwe 3

In [145]:
#The output above is lenghty and hard to read. Instead, switch my thinking to ask precisely for what I am looking for:
missing_countries = []

for i in range(len(CountryName)):
    if CountryName[i] != Country_Name[i]:
        missing_countries.append(CountryName[i])
        #print(CountryName[i])
#Note on side effects. Mutable variables: can mutate. You run operation many times and get different results and forgot 
#that you started from an empty list: once you append, the list is no longer empty!
#This happens a lot when you set an empty list so careful with this side effect

In [147]:
#This is a much quicker way to isolate the countries that are missing in Amy's data
print(missing_countries)

['Andorra', 'Bosnia and Herzegovina', 'Brunei', 'Ivory Coast', 'Democratic Republic of the Congo', 'Falkland Islands (Islas Malvinas)', 'Guernsey', 'Gambia', 'Isle of Man', 'British Indian Ocean Territory', 'Jersey', 'Saint Kitts and Nevis', 'Libya', 'Saint Lucia', 'Liechtenstein', 'North Macedonia', 'Montserrat', 'Pitcairn Islands', 'Puerto Rico', 'Palestinian Territories', 'RÃƒÂ©union', 'South Georgia and the South Sandwich Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'San Marino', 'SÃƒÂ£o TomÃƒÂ© and PrÃƒ\xadncipe', 'Eswatini', 'Syria', 'Tokelau', 'Vatican City', 'Saint Vincent and the Grenadines', 'U.S. Virgin Islands']

In [148]:
#Let's take a look at the type of each column in the mergedDF
mergedDF

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2
2,Angola,1,LEVEL_3,3,Angola,3
3,Anguilla,1,LEVEL_2,2,Anguilla,2
4,Albania,1,LEVEL_1,1,Albania,1
...,...,...,...,...,...,...
222,Vanuatu,1,LEVEL_4,4,Vanuatu,4
223,Samoa,1,LEVEL_4,4,Samoa,4
224,South Africa,1,LEVEL_2,2,South Africa,2
225,Zambia,1,LEVEL_2,2,Zambia,2
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3

In [172]:
mergedDF.dtypes

CountryName          object
FullyVaccinated       Int64
TravelOpenness       object
TravelOpennessInt     Int64
Country Name         object
SherpaRating          Int64
dtype: object

In [150]:
#What is the difference between int64 and Int64?
#Capital Int is allowed to have no values, more permissive. Therefore our life will be much easier if we 
#cast our int64 into Int64

In [156]:
mergedDF['FullyVaccinated'] = mergedDF['FullyVaccinated'].astype('Int64')
mergedDF['TravelOpennessInt'] = mergedDF['TravelOpennessInt'].astype('Int64')

In [157]:
mergedDF.dtypes

CountryName          object
FullyVaccinated       Int64
TravelOpenness       object
TravelOpennessInt     Int64
Country Name         object
SherpaRating          Int64
dtype: object

In [90]:
for i, row in mergedDF.iterrows():
    if mergedDF['CountryName'][i] != mergedDF['Country Name'][i]:
        print(mergedDF['CountryName'] + " is missing in Amy's data")

0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object
0             Aruba is missing in Amy's data
1       Afghanistan is missing in Amy's data
2            Angola is missing in Amy's data
3          Anguilla is missing in Amy's data
4           Albania is missing in Amy's data
                       ...
222         Vanuatu is missing in Amy's data
223           Samoa is missing in Amy's data
224    South Africa is missing in Amy's data
225          Zambia is missing in Amy's data
226        Zimbabwe is missing in Amy's data
Name: CountryName, Length: 227, dtype: object

In [101]:
for i in range(len(CountryName)):
    if CountryName[i] == Country_Name[i]:
        if TravelOpennessInt[i] == SherpaRating[i]:
            print(CountryName[i] + " 's Sherpa Rating is:")
            print(TravelOpennessInt[i])
        
    else:
        print("Missing in Amy's data")
        print(CountryName[i] + " 's Sherpa Rating is:")
        print(TravelOpennessInt[i])

Aruba 's Sherpa Rating is:
2
Afghanistan 's Sherpa Rating is:
2
Angola 's Sherpa Rating is:
3
Anguilla 's Sherpa Rating is:
2
Albania 's Sherpa Rating is:
1
Missing in Amy's data
Andorra 's Sherpa Rating is:
2
United Arab Emirates 's Sherpa Rating is:
4
Argentina 's Sherpa Rating is:
4
Armenia 's Sherpa Rating is:
1
American Samoa 's Sherpa Rating is:
4
Antigua and Barbuda 's Sherpa Rating is:
3
Australia 's Sherpa Rating is:
4
Austria 's Sherpa Rating is:
1
Azerbaijan 's Sherpa Rating is:
2
Burundi 's Sherpa Rating is:
10
Belgium 's Sherpa Rating is:
1
Benin 's Sherpa Rating is:
10
Burkina Faso 's Sherpa Rating is:
2
Bangladesh 's Sherpa Rating is:
3
Bulgaria 's Sherpa Rating is:
2
Bahrain 's Sherpa Rating is:
4
Bahamas 's Sherpa Rating is:
1
Missing in Amy's data
Bosnia and Herzegovina 's Sherpa Rating is:
1
Belarus 's Sherpa Rating is:
3
Belize 's Sherpa Rating is:
1
Bermuda 's Sherpa Rating is:
3
Bolivia 's Sherpa Rating is:
3
Brazil 's Sherpa Rating is:
2
Barbados 's Sherpa Rating is:
3
Missing in Amy's data
Brunei 's Sherpa Rating is:
4
Bhutan 's Sherpa Rating is:
4
Botswana 's Sherpa Rating is:
2
Central African Republic 's Sherpa Rating is:
3
Canada 's Sherpa Rating is:
4
Cocos (Keeling) Islands 's Sherpa Rating is:
10
Switzerland 's Sherpa Rating is:
1
Chile 's Sherpa Rating is:
4
China 's Sherpa Rating is:
4
Missing in Amy's data
Ivory Coast 's Sherpa Rating is:
2
Cameroon 's Sherpa Rating is:
4
Missing in Amy's data
Democratic Republic of the Congo 's Sherpa Rating is:
3
Congo 's Sherpa Rating is:
3
Cook Islands 's Sherpa Rating is:
4
Colombia 's Sherpa Rating is:
1
Comoros 's Sherpa Rating is:
10
Cape Verde 's Sherpa Rating is:
2
Costa Rica 's Sherpa Rating is:
1
Cuba 's Sherpa Rating is:
3
Christmas Island 's Sherpa Rating is:
10
Cayman Islands 's Sherpa Rating is:
4
Cyprus 's Sherpa Rating is:
1
Czech Republic 's Sherpa Rating is:
1
Germany 's Sherpa Rating is:
1
Djibouti 's Sherpa Rating is:
2
Dominica 's Sherpa Rating is:
3
Denmark 's Sherpa Rating is:
1
Dominican Republic 's Sherpa Rating is:
2
Algeria 's Sherpa Rating is:
4
Ecuador 's Sherpa Rating is:
1
Egypt 's Sherpa Rating is:
2
Eritrea 's Sherpa Rating is:
10
Spain 's Sherpa Rating is:
1
Estonia 's Sherpa Rating is:
1
Ethiopia 's Sherpa Rating is:
3
Finland 's Sherpa Rating is:
1
Fiji 's Sherpa Rating is:
4
Missing in Amy's data
Falkland Islands (Islas Malvinas) 's Sherpa Rating is:
10
France 's Sherpa Rating is:
1
Faroe Islands 's Sherpa Rating is:
3
Micronesia 's Sherpa Rating is:
10
Gabon 's Sherpa Rating is:
2
United Kingdom 's Sherpa Rating is:
3
Georgia 's Sherpa Rating is:
1
Missing in Amy's data
Guernsey 's Sherpa Rating is:
10
Ghana 's Sherpa Rating is:
2
Gibraltar 's Sherpa Rating is:
2
Guinea 's Sherpa Rating is:
10
Guadeloupe 's Sherpa Rating is:
2
Missing in Amy's data
Gambia 's Sherpa Rating is:
2
Guinea-Bissau 's Sherpa Rating is:
2
Equatorial Guinea 's Sherpa Rating is:
4
Greece 's Sherpa Rating is:
2
Grenada 's Sherpa Rating is:
3
Greenland 's Sherpa Rating is:
3
Guatemala 's Sherpa Rating is:
1
Guam 's Sherpa Rating is:
1
Guyana 's Sherpa Rating is:
2
Hong Kong 's Sherpa Rating is:
4
Honduras 's Sherpa Rating is:
1
Croatia 's Sherpa Rating is:
1
Haiti 's Sherpa Rating is:
2
Hungary 's Sherpa Rating is:
4
Indonesia 's Sherpa Rating is:
4
Missing in Amy's data
Isle of Man 's Sherpa Rating is:
10
India 's Sherpa Rating is:
4
Missing in Amy's data
British Indian Ocean Territory 's Sherpa Rating is:
10
Ireland 's Sherpa Rating is:
3
Iran 's Sherpa Rating is:
4
Iraq 's Sherpa Rating is:
3
Iceland 's Sherpa Rating is:
1
Israel 's Sherpa Rating is:
4
Italy 's Sherpa Rating is:
1
Jamaica 's Sherpa Rating is:
2
Missing in Amy's data
Jersey 's Sherpa Rating is:
2
Jordan 's Sherpa Rating is:
2
Japan 's Sherpa Rating is:
4
Kazakhstan 's Sherpa Rating is:
4
Kenya 's Sherpa Rating is:
2
Kyrgyzstan 's Sherpa Rating is:
1
Cambodia 's Sherpa Rating is:
4
Kiribati 's Sherpa Rating is:
10
Missing in Amy's data
Saint Kitts and Nevis 's Sherpa Rating is:
3
South Korea 's Sherpa Rating is:
2
Kuwait 's Sherpa Rating is:
4
Laos 's Sherpa Rating is:
4
Lebanon 's Sherpa Rating is:
2
Liberia 's Sherpa Rating is:
10
Missing in Amy's data
Libya 's Sherpa Rating is:
3
Missing in Amy's data
Saint Lucia 's Sherpa Rating is:
2
Missing in Amy's data
Liechtenstein 's Sherpa Rating is:
1
Sri Lanka 's Sherpa Rating is:
2
Lesotho 's Sherpa Rating is:
10
Lithuania 's Sherpa Rating is:
1
Luxembourg 's Sherpa Rating is:
1
Latvia 's Sherpa Rating is:
1
Macau 's Sherpa Rating is:
4
Morocco 's Sherpa Rating is:
1
Monaco 's Sherpa Rating is:
2
Moldova 's Sherpa Rating is:
1
Madagascar 's Sherpa Rating is:
4
Maldives 's Sherpa Rating is:
2
Mexico 's Sherpa Rating is:
1
Marshall Islands 's Sherpa Rating is:
10
Missing in Amy's data
North Macedonia 's Sherpa Rating is:
3
Mali 's Sherpa Rating is:
2
Malta 's Sherpa Rating is:
4
Myanmar 's Sherpa Rating is:
4
Montenegro 's Sherpa Rating is:
1
Mongolia 's Sherpa Rating is:
4
Northern Mariana Islands 's Sherpa Rating is:
10
Mozambique 's Sherpa Rating is:
2
Mauritania 's Sherpa Rating is:
2
Missing in Amy's data
Montserrat 's Sherpa Rating is:
4
Martinique 's Sherpa Rating is:
2
Mauritius 's Sherpa Rating is:
4
Malawi 's Sherpa Rating is:
4
Malaysia 's Sherpa Rating is:
4
Namibia 's Sherpa Rating is:
2
Niger 's Sherpa Rating is:
3
Norfolk Island 's Sherpa Rating is:
10
Nigeria 's Sherpa Rating is:
3
Nicaragua 's Sherpa Rating is:
2
Niue 's Sherpa Rating is:
10
Netherlands 's Sherpa Rating is:
1
Norway 's Sherpa Rating is:
4
Nepal 's Sherpa Rating is:
4
Nauru 's Sherpa Rating is:
10
New Zealand 's Sherpa Rating is:
4
Oman 's Sherpa Rating is:
4
Pakistan 's Sherpa Rating is:
3
Panama 's Sherpa Rating is:
2
Missing in Amy's data
Pitcairn Islands 's Sherpa Rating is:
10
Peru 's Sherpa Rating is:
2
Philippines 's Sherpa Rating is:
4
Palau 's Sherpa Rating is:
3
Papua New Guinea 's Sherpa Rating is:
4
Poland 's Sherpa Rating is:
1
Missing in Amy's data
Puerto Rico 's Sherpa Rating is:
1
Portugal 's Sherpa Rating is:
2
Paraguay 's Sherpa Rating is:
2
Missing in Amy's data
Palestinian Territories 's Sherpa Rating is:
4
French Polynesia 's Sherpa Rating is:
2
Qatar 's Sherpa Rating is:
4
Missing in Amy's data
RÃƒÂ©union 's Sherpa Rating is:
2
Romania 's Sherpa Rating is:
1
Russia 's Sherpa Rating is:
4
Rwanda 's Sherpa Rating is:
2
Saudi Arabia 's Sherpa Rating is:
2
Sudan 's Sherpa Rating is:
2
Senegal 's Sherpa Rating is:
2
Singapore 's Sherpa Rating is:
4
Missing in Amy's data
South Georgia and the South Sandwich Islands 's Sherpa Rating is:
10
Missing in Amy's data
Saint Helena, Ascension and Tristan da Cunha 's Sherpa Rating is:
10
Solomon Islands 's Sherpa Rating is:
10
Sierra Leone 's Sherpa Rating is:
2
El Salvador 's Sherpa Rating is:
1
Missing in Amy's data
San Marino 's Sherpa Rating is:
1
Somalia 's Sherpa Rating is:
10
Serbia 's Sherpa Rating is:
2
Missing in Amy's data
SÃƒÂ£o TomÃƒÂ© and PrÃƒÂ­ncipe 's Sherpa Rating is:
2
Suriname 's Sherpa Rating is:
4
Slovakia 's Sherpa Rating is:
4
Slovenia 's Sherpa Rating is:
1
Sweden 's Sherpa Rating is:
2
Missing in Amy's data
Eswatini 's Sherpa Rating is:
2
Seychelles 's Sherpa Rating is:
2
Missing in Amy's data
Syria 's Sherpa Rating is:
4
Turks and Caicos Islands 's Sherpa Rating is:
2
Chad 's Sherpa Rating is:
10
Togo 's Sherpa Rating is:
3
Thailand 's Sherpa Rating is:
3
Tajikistan 's Sherpa Rating is:
2
Missing in Amy's data
Tokelau 's Sherpa Rating is:
10
East Timor 's Sherpa Rating is:
10
Tonga 's Sherpa Rating is:
4
Trinidad and Tobago 's Sherpa Rating is:
4
Tunisia 's Sherpa Rating is:
1
Turkey 's Sherpa Rating is:
1
Tuvalu 's Sherpa Rating is:
10
Taiwan 's Sherpa Rating is:
4
Tanzania 's Sherpa Rating is:
2
Uganda 's Sherpa Rating is:
2
Ukraine 's Sherpa Rating is:
1
United States Minor Outlying Islands 's Sherpa Rating is:
10
Uruguay 's Sherpa Rating is:
4
Uzbekistan 's Sherpa Rating is:
2
Missing in Amy's data
Vatican City 's Sherpa Rating is:
1
Missing in Amy's data
Saint Vincent and the Grenadines 's Sherpa Rating is:
2
Venezuela 's Sherpa Rating is:
2
British Virgin Islands 's Sherpa Rating is:
2
Missing in Amy's data
U.S. Virgin Islands 's Sherpa Rating is:
2
Vietnam 's Sherpa Rating is:
4
Vanuatu 's Sherpa Rating is:
4
Samoa 's Sherpa Rating is:
4
South Africa 's Sherpa Rating is:
2
Zambia 's Sherpa Rating is:
2
Zimbabwe 's Sherpa Rating is:
3

In [91]:
#let's try with iterrows
for i, row in mergedDF.iterrows():
    print(row[0], row[3], row[4], row[5])
    #if row[i] != row[i+2]:
        #print(mergedDF['CountryName'] + " is missing in Amy's data")

Aruba 2 Aruba 2
Afghanistan 2 Afghanistan 2
Angola 3 Angola 3
Anguilla 2 Anguilla 2
Albania 1 Albania 1
Andorra 2 nan <NA>
United Arab Emirates 4 United Arab Emirates 4
Argentina 4 Argentina 4
Armenia 1 Armenia 1
American Samoa 4 American Samoa 4
Antigua and Barbuda 3 Antigua and Barbuda 3
Australia 4 Australia 4
Austria 1 Austria 1
Azerbaijan 2 Azerbaijan 2
Burundi 10 Burundi 10
Belgium 1 Belgium 1
Benin 10 Benin 10
Burkina Faso 2 Burkina Faso 2
Bangladesh 3 Bangladesh 3
Bulgaria 2 Bulgaria 1
Bahrain 4 Bahrain 4
Bahamas 1 Bahamas 1
Bosnia and Herzegovina 1 nan <NA>
Belarus 3 Belarus 3
Belize 1 Belize 1
Bermuda 3 Bermuda 3
Bolivia 3 Bolivia 3
Brazil 2 Brazil 2
Barbados 3 Barbados 3
Brunei 4 nan <NA>
Bhutan 4 Bhutan 4
Botswana 2 Botswana 2
Central African Republic 3 Central African Republic 3
Canada 4 Canada 4
Cocos (Keeling) Islands 10 Cocos (Keeling) Islands 10
Switzerland 1 Switzerland 1
Chile 4 Chile 4
China 4 China 4
Ivory Coast 2 nan <NA>
Cameroon 4 Cameroon 4
Democratic Republic of the Congo 3 nan <NA>
Congo 3 Congo 3
Cook Islands 4 Cook Islands 10
Colombia 1 Colombia 1
Comoros 10 Comoros 10
Cape Verde 2 Cape Verde 2
Costa Rica 1 Costa Rica 1
Cuba 3 Cuba 3
Christmas Island 10 Christmas Island 4
Cayman Islands 4 Cayman Islands 4
Cyprus 1 Cyprus 1
Czech Republic 1 Czech Republic 1
Germany 1 Germany 1
Djibouti 2 Djibouti 2
Dominica 3 Dominica 2
Denmark 1 Denmark 1
Dominican Republic 2 Dominican Republic 2
Algeria 4 Algeria 4
Ecuador 1 Ecuador 1
Egypt 2 Egypt 2
Eritrea 10 Eritrea 10
Spain 1 Spain 1
Estonia 1 Estonia 1
Ethiopia 3 Ethiopia 3
Finland 1 Finland 1
Fiji 4 Fiji 4
Falkland Islands (Islas Malvinas) 10 nan <NA>
France 1 France 1
Faroe Islands 3 Faroe Islands 2
Micronesia 10 Micronesia 10
Gabon 2 Gabon 2
United Kingdom 3 United Kingdom 3
Georgia 1 Georgia 1
Guernsey 10 nan <NA>
Ghana 2 Ghana 2
Gibraltar 2 Gibraltar 1
Guinea 10 Guinea 10
Guadeloupe 2 Guadeloupe 1
Gambia 2 nan <NA>
Guinea-Bissau 2 Guinea-Bissau 2
Equatorial Guinea 4 Equatorial Guinea 4
Greece 2 Greece 1
Grenada 3 Grenada 3
Greenland 3 Greenland 3
Guatemala 1 Guatemala 1
Guam 1 Guam 1
Guyana 2 Guyana 2
Hong Kong 4 Hong Kong 4
Honduras 1 Honduras 1
Croatia 1 Croatia 1
Haiti 2 Haiti 2
Hungary 4 Hungary 4
Indonesia 4 Indonesia 4
Isle of Man 10 nan <NA>
India 4 India 4
British Indian Ocean Territory 10 nan <NA>
Ireland 3 Ireland 3
Iran 4 Iran 4
Iraq 3 Iraq 3
Iceland 1 Iceland 1
Israel 4 Israel 4
Italy 1 Italy 1
Jamaica 2 Jamaica 2
Jersey 2 nan <NA>
Jordan 2 Jordan 2
Japan 4 Japan 4
Kazakhstan 4 Kazakhstan 1
Kenya 2 Kenya 2
Kyrgyzstan 1 Kyrgyzstan 1
Cambodia 4 Cambodia 4
Kiribati 10 Kiribati 10
Saint Kitts and Nevis 3 nan <NA>
South Korea 2 South Korea 2
Kuwait 4 Kuwait 4
Laos 4 Laos 4
Lebanon 2 Lebanon 2
Liberia 10 Liberia 10
Libya 3 nan <NA>
Saint Lucia 2 nan <NA>
Liechtenstein 1 nan <NA>
Sri Lanka 2 Sri Lanka 2
Lesotho 10 Lesotho 10
Lithuania 1 Lithuania 1
Luxembourg 1 Luxembourg 1
Latvia 1 Latvia 1
Macau 4 Macau 4
Morocco 1 Morocco 1
Monaco 2 Monaco 2
Moldova 1 Moldova 1
Madagascar 4 Madagascar 4
Maldives 2 Maldives 2
Mexico 1 Mexico 1
Marshall Islands 10 Marshall Islands 4
North Macedonia 3 nan <NA>
Mali 2 Mali 2
Malta 4 Malta 4
Myanmar 4 Myanmar 4
Montenegro 1 Montenegro 1
Mongolia 4 Mongolia 4
Northern Mariana Islands 10 Northern Mariana Islands 10
Mozambique 2 Mozambique 2
Mauritania 2 Mauritania 2
Montserrat 4 nan <NA>
Martinique 2 Martinique 1
Mauritius 4 Mauritius 4
Malawi 4 Malawi 4
Malaysia 4 Malaysia 4
Namibia 2 Namibia 2
Niger 3 Niger 3
Norfolk Island 10 Norfolk Island 10
Nigeria 3 Nigeria 3
Nicaragua 2 Nicaragua 2
Niue 10 Niue 10
Netherlands 1 Netherlands 1
Norway 4 Norway 4
Nepal 4 Nepal 4
Nauru 10 Nauru 10
New Zealand 4 New Zealand 4
Oman 4 Oman 4
Pakistan 3 Pakistan 3
Panama 2 Panama 2
Pitcairn Islands 10 nan <NA>
Peru 2 Peru 2
Philippines 4 Philippines 4
Palau 3 Palau 4
Papua New Guinea 4 Papua New Guinea 4
Poland 1 Poland 1
Puerto Rico 1 nan <NA>
Portugal 2 Portugal 2
Paraguay 2 Paraguay 2
Palestinian Territories 4 nan <NA>
French Polynesia 2 French Polynesia 2
Qatar 4 Qatar 4
RÃƒÂ©union 2 nan <NA>
Romania 1 Romania 1
Russia 4 Russia 4
Rwanda 2 Rwanda 3
Saudi Arabia 2 Saudi Arabia 2
Sudan 2 Sudan 2
Senegal 2 Senegal 2
Singapore 4 Singapore 4
South Georgia and the South Sandwich Islands 10 nan <NA>
Saint Helena, Ascension and Tristan da Cunha 10 nan <NA>
Solomon Islands 10 Solomon Islands 10
Sierra Leone 2 Sierra Leone 2
El Salvador 1 El Salvador 1
San Marino 1 nan <NA>
Somalia 10 Somalia 10
Serbia 2 Serbia 1
SÃƒÂ£o TomÃƒÂ© and PrÃƒÂ­ncipe 2 nan <NA>
Suriname 4 Suriname 4
Slovakia 4 Slovakia 4
Slovenia 1 Slovenia 1
Sweden 2 Sweden 4
Eswatini 2 nan <NA>
Seychelles 2 Seychelles 10
Syria 4 nan <NA>
Turks and Caicos Islands 2 Turks and Caicos Islands 2
Chad 10 Chad 10
Togo 3 Togo 3
Thailand 3 Thailand 3
Tajikistan 2 Tajikistan 2
Tokelau 10 nan <NA>
East Timor 10 East Timor 10
Tonga 4 Tonga 4
Trinidad and Tobago 4 Trinidad and Tobago 4
Tunisia 1 Tunisia 1
Turkey 1 Turkey 1
Tuvalu 10 Tuvalu 4
Taiwan 4 Taiwan 4
Tanzania 2 Tanzania 2
Uganda 2 Uganda 2
Ukraine 1 Ukraine 1
United States Minor Outlying Islands 10 United States Minor Outlying Islands 4
Uruguay 4 Uruguay 4
Uzbekistan 2 Uzbekistan 2
Vatican City 1 nan <NA>
Saint Vincent and the Grenadines 2 nan <NA>
Venezuela 2 Venezuela 2
British Virgin Islands 2 British Virgin Islands 2
U.S. Virgin Islands 2 nan <NA>
Vietnam 4 Vietnam 4
Vanuatu 4 Vanuatu 4
Samoa 4 Samoa 4
South Africa 2 South Africa 2
Zambia 2 Zambia 2
Zimbabwe 3 Zimbabwe 3

Cool libraries to use when getting data from API and working with Databases

In [97]:
#First thing I notice is there is no import Pandas as Pd
import csv #The CSV (Comma Separated Values) format is the most common import and export format for spreadsheets
#and databases
import json
#JSON stands for JavaScript Object Notation. JSON is a lightweight format for storing and transporting data.JSON is often
#used when data is sent from a server to a web page
import os
#This module provides a portable way of using operating system dependent functionality. #Allows to read or write a file
#see open(), manipulate paths, change directory, see in what directory you are, creating and delete files in a directory
import re
#A regular expression (or RE) specifies a set of strings that matches it; the functions in this module 
#let you check if a particular string matches a given regular expression (or if a given regular expression matches
#a particular string
import urllib3
#urllib3 is a powerful, user-friendly HTTP client for Python. urllib3 brings many critical features that are missing 
#from the Python standard libraries: Thread safety. Connection pooling.Client-side TLS/SSL verification. File uploads with
#multipart encoding. Helpers for retrying requests and dealing with HTTP redirects.Proxy support for HTTP and SOCKS.
#100% test coverage.
from dataclasses import dataclass, field, InitVar
#Dataclass saves hours of time, learn more here: https://www.youtube.com/watch?v=vBH6GRJ1REM
#This module provides a decorator and functions for automatically adding generated special methods such
#as __init__() and __repr__() to user-defined classes. Help write bug free code, easy to understand and ready for change.
from datetime import datetime, timedelta
#A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.
import requests
import logging
#Logging is a means of tracking events that happen when some software runs.
#The softwareâ€™s developer adds logging calls to their code to indicate that certain events have occurred. 
from airflow.hooks.base_hook import BaseHook
#Abstract base class for hooks, hooks are meant as an interface to interact with external systems
from fareportal.airflow.utils import utility
from fareportal.airflow.utils.clickhouse_utils import ClickhouseConnect

In [104]:
#The basics of classes in Python https://www.youtube.com/watch?v=tmY6FEF8f1o
class Polygon:
    def __init__(self, sides, name):
        self.sides = sides
        self.name = name
square = Polygon(4, "Square")
print (square.sides)

4

In [108]:
#Do all of the above with Dataclasses
from dataclasses import dataclass
@dataclass
class Polygon:
    sides: int
    name: str
square = Polygon(4, "Square")
print(square)

Polygon(sides=4, name='Square')

In [77]:
#What is InitVar in Python?
#If a field is an InitVar , it is considered a pseudo-field called an init-only field. As it is not a true field, 
#it is not returned by the module-level fields() function. Init-only fields are added as parameters
#to the generated __init__() method, and are passed to the optional __post_init__() method.

#How does datetime work in Python
import datetime

x = datetime.datetime.now()

print(x)

2021-07-18 21:50:38.505767

In [78]:
import pytz
utc = pytz.utc

In [79]:
#How do you localize datetime
from pytz import timezone

In [81]:
from datetime import datetime
from pytz import timezone
import pytz
loc_dt = eastern.localize(datetime(2021, 7, 18, 21, 50, 0))
print(loc_dt.strftime(fmt))

2021-07-18 21:50:00 EDT-0400

In [70]:
#Take the two DF and stack them up vertically, but then you have duplicate for when both conditions are true HOMEWORK one more method to get where
#I want to be

#Then focus on save load data from API and SQL

In [92]:
#ASK SARA IF IT'S OK TO POST  THIS CODE ON GITHUB
LOG = logging.getLogger("airflow.task")
urllib3.disable_warnings
@dataclass
class SherpaDataUpload:
file_path: str
file_name: str
delimiter: str
table: str
ch_db: str
ch_connection_id: InitVar[str]
ch_host: str = field(init=False)
ch_port: str = field(init=False)
ch_user: str = field(init=False)
ch_password: str = field(init=False)
time_delta: str = ""
run_date: datetime = field(init=False)

IndentationError: expected an indented block (<ipython-input-92-d36855ab671c>, line 6)

In [ ]:
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series. 
#https://www.geeksforgeeks.org/python-pandas-apply/

In [88]:
#Keep for reference
vaxDF['TravelOpenness'].apply(lambda x:x.split('_')[1])

1      2
3      2
5      3
7      2
9      1
      ..
445    4
447    4
449    2
451    2
453    3
Name: TravelOpenness, Length: 227, dtype: object

In [86]:
#NEXT: Bestthing to do is find someone code that makes an API request
import requests
import urllib
#ask Manish to give me the query to pll data from clickhouse and adapt one of the SQL

In [69]:
 
import sqlite3
#To interact with our own database we use postgrass sequal psycopg.

In [87]:
request = requests.get('https://apply.joinsherpa.com/travel-restrictions')

In [75]:
#You can take a look at the content with .content or .text
#reaquest.content
request.text

'<!DOCTYPE html><html lang="en"><head>\n    <meta charset="utf-8">\n    <title>Sherpa â€“ Move Freely</title>\n    <base href="/">\n    <meta name="viewport" content="width=device-width, initial-scale=1">\n    <link rel="icon" type="image/x-icon" href="sherpa-favicon.ico">\n    <style type="text/css">@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}</style>\n    <style type="text/css">@font-face{font-family:\'Material Icons\';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v90/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format(\'woff2\');}.material-icons{font-family:\'Material Icons\';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:\'liga\';-webkit-font-smoothing:antialiased;}</style>\n    <script type="text/javascript">\n      var _jipt = []\n      _jipt.push([\'project\', \'sherpa-web-app\'])\n    </script>\n    <!-- <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script> -->\n  <style>@import url(https://fonts.googleapis.com/icon?family=Material+Icons);body,html{height:100%;width:100%;font-size:16px;}body{margin:0;overscroll-behavior-y:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#081a2a;}.mat-typography{font:400 16px/24px DM Sans;letter-spacing:normal;}@font-face{font-family:DM Sans;font-style:italic;font-weight:400;font-display:swap;src:local("DM Sans Italic"),local("DMSans-Italic"),url(/assets/fonts/dm-sans/DMSans-Italic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:400;font-display:swap;src:local("DM Sans Italic"),local("DMSans-Italic"),url(/assets/fonts/dm-sans/DMSans-Italic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:italic;font-weight:500;font-display:swap;src:local("DM Sans Medium Italic"),local("DMSans-MediumItalic"),url(/assets/fonts/dm-sans/DMSans-MediumItalic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:500;font-display:swap;src:local("DM Sans Medium Italic"),local("DMSans-MediumItalic"),url(/assets/fonts/dm-sans/DMSans-MediumItalic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:italic;font-weight:700;font-display:swap;src:local("DM Sans Bold Italic"),local("DMSans-BoldItalic"),url(/assets/fonts/dm-sans/DMSans-BoldItalic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:700;font-display:swap;src:local("DM Sans Bold Italic"),local("DMSans-BoldItalic"),url(/assets/fonts/dm-sans/DMSans-BoldItalic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:400;font-display:swap;src:local("DM Sans Regular"),local("DMSans-Regular"),url(/assets/fonts/dm-sans/DMSans-Regular.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:400;font-display:swap;src:local("DM Sans Regular"),local("DMSans-Regular"),url(/assets/fonts/dm-sans/DMSans-Regular.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:500;font-display:swap;src:local("DM Sans Medium"),local("DMSans-Medium"),url(/assets/fonts/dm-sans/DMSans-Medium.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:500;font-display:swap;src:local("DM Sans Medium"),local("DMSans-Medium"),url(/assets/fonts/dm-sans/DMSans-Medium.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:700;font-display:swap;src:local("DM Sans Bold"),local("DMSans-Bold"),url(/assets/fonts/dm-sans/DMSans-Bold.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:700;font-display:swap;src:local("DM Sans Bold"),local("DMSans-Bold"),url(/assets/fonts/dm-sans/DMSans-Bold.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}.theme-wrapper .mat-typography{font:400 16px/24px DM Sans;letter-spacing:normal;}</style><link rel="stylesheet" href="styles.d1c2b20886c46fc4ac01.css" media="print" onload="this.media=\'all\'"><noscript><link rel="stylesheet" href="styles.d1c2b20886c46fc4ac01.css"></noscript></head>\n  <body class="theme-wrapper">\n    <app-root class="mat-typography"></app-root>\n\n    <!-- TODO: Stripe is here because we need it for creating elements -->\n    <script src="https://js.stripe.com/v3/"></script>\n  <script src="runtime.a9240ecf20a81c09fc4a.js" defer></script><script src="polyfills.0919cc0570bb14ca6480.js" defer></script><script src="main.b381c38c0dd68d2795d2.js" defer></script>\n\n</body></html>'

In [28]:
request

In [72]:
request.status_code

200

In [ ]:
#Now that we know how to filter out rows and columns as needed the question is once
#I download the data from the site they become obsolete they are not in real time. The way to get these data is by using 
#their API

#Manish shared API documentation, I sent request to access and got notification that
#their team will grant appropriate credentials based on my use case.

In [ ]:
#To parse the information you would need to use a library like BeautifulSoup

In [ ]:
#Another possible way to explore to add columns is with append or assign: 
#https://pandas.pydata.org/pandas-docs/stablbe/reference/api/pandas.DataFrame.append.html
#https://cmdlinetips.com/2019/01/3-ways-to-add-new-columns-to-pandas-dataframe/

LEARN ABOUT LAMBDA

In [56]:
#Lambda is one single line function, with syntaxt lambda arguments: expression
#For ex. add 5
add5 = lambda x: x + 5

In [57]:
add5(7)

12

HOW TO USE APPLY

In [60]:
#https://www.youtube.com/watch?v=smPLY_5gVv4
#We can use apply to apply a function to each row of a dataframe. For ex. we could define a function like this
def scan_vax():
    if fullyvaxDF['TravelOpennessInt'] == 1:
        print('Open to travel for American visitors')
    elif fullyvaxDF['TravelOpennessInt'] == 2:
        print('Open for travel with required COVID-19 testing')
    elif fullyvaxDF['TravelOpennessIntl'] == 3:
        print('Open for travel with required COVID-19 testing and quarantine upon arrival')
    elif fullyvaxDF['TravelOpenness'] == 4:
        print('Travel is only open for returning citizens and those meeting strict requirements')
    else:
        print('No Information Available')

In [64]:
fullyvaxDF['TravelOpennessInt']

1      2
3      2
5      3
7      2
9      1
      ..
445    4
447    4
449    2
451    2
453    3
Name: TravelOpennessInt, Length: 227, dtype: int64

In [66]:
type(fullyvaxDF['TravelOpennessInt'])

pandas.core.series.Series

In [100]:
#https://www.youtube.com/watch?v=FDZ9dG6gbUw
import tkinter as tk

In [101]:
counter = 0
def counter_label(label):
    counter = 0
    def count():
        global counter
        counter += 1
        label.config(text = str(counter))
        label.after(1000, count)
    count()

In [102]:
root = tk.Tk()

In [103]:
root.title('counter')

''

In [104]:
#Create Label
label = tk.Label(root, fg = 'dark green')

In [105]:
label.pack()

In [106]:
counter_label(label)

In [107]:
#Create button
button = tk.Button(root, text = 'stop', width = 40, command = root.destroy)

In [108]:
button.pack()

In [109]:
root.mainloop()